<template>
    <div>
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container d-flex align-items-center">
                <h5 class="logo mr-auto"><a href="/"><span class="text-success">M</span>arket<span class="text-success">L</span>inkus</a></h5>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
                <!--<div class="d-flex search">-->
                    <!--<input class="form-control mr-1" placeholder="Type your search here" >-->
                    <!--<button class="btn btn-success btn-m"><i class="fa fa-search"></i></button>-->

                <!--</div>-->
                <form class="example mr-1">
                    <input type="text" placeholder="Search.." v-model="message.search" name="search" v-on:keyup.enter="getAdsByrandomSearch()">
                    <button  v-on:click="getAdsByrandomSearch()"><i class="fa fa-search"></i></button>
                </form>
                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class=""><a href="/">Adverts</a></li>
                        <!--<li ><a  href="/home">Adverts</a></li>-->
                        <li ><a   href="/hotels">Hotels</a></li>
                        <li v-if="auth==='yes'"><a  href="/history">History</a></li>
                        <li v-if="auth!=='yes'"><a  href="/login">Sign in|</a></li>
                        <li v-if="auth!=='yes'"><a  href="/register">Register</a></li>
                        <li  v-if="auth==='yes'"><a   href="/profile">Profile</a></li>
                        <!--<li v-on:click="logout2()" v-if="auth==='yes'"><a  href="#">Logout</a></li>-->
                        <li v-if="auth==='yes' && pic!==''"  class="drop-down">
                            <img :src="pic" alt="" class="img drop-down">
                            <ul>
                                <li><a href="#">{{name}}</a></li>
                                <li><router-link :to="{name:'profile'}" href="#">Profile</router-link></li>
                                <li @click="logout()"><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav><!-- .nav-menu -->

                <router-link :to="{name:'postadd'}" href="#" class="get-started-btn">Post Ad</router-link>

            </div>
        </header><!-- End Header -->

        <transition name="fade">
            <router-view></router-view>
        </transition>
    </div>
</template>
<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
        opacity: 0
    }
</style>
<script>
    import googleOneTap from 'google-one-tap';
    export default {
        mounted() {
            if(this.auth!=='yes') {
                const options = {
                    client_id: '30173417980-1mr78rb4ietprqboovvm5j9hg3265fj2', // required
                    auto_select: true, // optional
                    cancel_on_tap_outside: false, // optional
                    context: 'signin', // optional
                };
                googleOneTap(options, (response) => {
                    // Send response to server
                    // console.log(response);
                    this.parseJwt(response.credential)
                });
            }
        },
        data() {
            return {
                name:'',
                auth:'',
                pic:'',
                phone:'',
                profile_info:{},
                message:{},
                proxyUrl: process.env.MIX_APP_URL,
            }
        },
        created(){
            this.name=localStorage.getItem('name');
            this.auth=localStorage.getItem('auth');
            this.pic=localStorage.getItem('pic');
            this.phone=localStorage.getItem('phone');
        },
        watch:{
            '$route' (to, from) {
                this.name=localStorage.getItem('name');
                this.auth=localStorage.getItem('auth');
                this.pic=localStorage.getItem('pic');
                this.phone=localStorage.getItem('phone');
                console.log(this.phone);
                if(this.auth==='yes'){
                    if(!localStorage.hasOwnProperty('phone')){
                        this.$router.push({name: 'profile'});
                        this.$toast.open({message: 'Please update your profile', type: 'info', position: 'top'});
                    }else{
                        if(this.phone.length<=9){
                            this.$router.push({name: 'profile'});
                            this.$toast.open({message: 'Please update your profile', type: 'info', position: 'top'});
                        }
                    }
                }
            }
        },
        methods: {
            getAdsByrandomSearch(){
                this.$router.push({name: 'search',params:{id:this.message.search}});
                this.$router.go();
            },
             parseJwt (token) {
                 var base64Url = token.split('.')[1];
                 var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
                 var jsonPayload = decodeURIComponent(atob(base64).split('').map(function (c) {
                     return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                 }).join(''));
                 this.profile_info=JSON.parse(jsonPayload);
                 this.attemptLogin();
                 console.log(this.profile_info);
             },
            attemptLogin(){
                 this.profile_info.pic=this.profile_info.picture
                let uri =this.proxyUrl+`api/auth/attemptLogin`;
                this.axios.post(uri, this.profile_info).then((response) => {
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.user_type === 'user') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('pic', response.data.user.pic);
                                localStorage.setItem('phone', response.data.user.phone);
                                localStorage.setItem('auth', 'yes');
                            } else {

                            }
                        }else{

                        }
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {

                });

            },
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                localStorage.removeItem('phone');
                this.$router.push({name: 'login'});

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            }
        }
    }
</script>
