<template>
    <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <router-link to="/bookings">
                    <div class="card-counter primary">
                        <i class="fa fa-code-fork"></i>
                        <span class="count-numbers">My Bookings</span>
                        <span class="count-name">Booking history</span>
                    </div>
                    </router-link>
                </div>

                <div class="col-md-4">
                    <router-link to="/myads">
                        <div class="card-counter danger">
                            <i class="fa fa-adn"></i>
                            <span class="count-numbers">My Ads</span>
                            <span class="count-name">Posted ads</span>
                        </div>
                    </router-link>

                </div>

                <div class="col-md-4">
                    <router-link to="/profile">
                        <div class="card-counter success">
                            <i class="fa fa-user"></i>
                            <span class="count-numbers">Profile</span>
                            <span class="count-name">Profile</span>
                        </div>
                    </router-link>

                </div>

<!--                <div class="col-md-3">-->
<!--                    <div class="card-counter info">-->
<!--                        <i class="fa fa-users"></i>-->
<!--                        <span class="count-numbers">35</span>-->
<!--                        <span class="count-name">Users</span>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <Adsense
                    data-ad-client="ca-pub-2885740322818519"
                    data-ad-slot="1475707279">
                </Adsense>
            </div>

        </div>

    </div>
</template>
