/*--------------------------------------------------------------
# category
--------------------------------------------------------------*/
.img-top {
    max-height: 200px;
    min-height: 200px;
    object-fit: cover;
    width: 100%;
    /*opacity: 0.5;*/
    background-size: cover;
}
.card-mid-title{
    position: absolute;
    top: 50%;
    left: 50%;
    /*margin-right: -50%;*/
    transform: translate(-50%, -50%);
}
.fa-plus-square{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    border-radius: 50%;
}
.card2{
    min-height: 200px;
    /*background-image: url("/images/bg1.jpg");*/
    background-repeat: no-repeat;
    background-image: url("/images/home3.jpg");
    background-size: cover;
    object-fit: cover;
    /*opacity: 0.5;*/
/*linear-gradient(rgba(120,151,243,0.9), rgba(199,207,135,0.9))*/
}
.card3{
    background: #FFA010;
    min-height: 200px;
    color: white;
    padding: 10px;
    border-radius:10px;
}
.card3:hover{
    border-top: 3px solid #1D4354;
}
.category {
    height: 400px;
    text-align: center;
    border: 1px solid #fff;
    /*padding: 40px 20px;*/
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
}
.category-feeds {
    height: 300px;
    text-align: center;
    border: 1px solid #fff;
    /*padding: 40px 20px;*/
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    border-radius: 15px;
}
.category .icon ,.category-feeds.icon {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s;
}

.category .icon i {
    color: #FFA010;
    font-size: 46px;
    transition: 0.3s;
}


.category h4,.category-feeds h4 {
    font-weight: 400;
    margin-bottom: 13px;
    font-size: 15px;
}

.category h4 a {
    color: #5f687b;
    transition: ease-in-out 0.3s;
}

.category p {
    line-height: 24px;
    font-size: 11px;
    margin-bottom: 0;
}

.category:hover,.category-feeds:hover {
    border-color: #eaecef;
    border-top: 3px solid #1D4354;
}

.category:hover h4 a {
    color: #1D4354;
}





.text-indigo{
    color:#616BF0;
}
.table{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
#carouselExampleIndicators{
    border-top: 3px solid #1D4354;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.card {
    /*border-top: 3px solid #3670FF;*/
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    border-radius:10px;
    font-family: 'Poppins', sans-serif;
    /*!*width: 500px;*!*/
    /*min-height: 404.5px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    padding: 20px;
    /*margin: 5px;*/
    /*border-radius: 10px;*/
    /*-webkit-animation-name: shadow-show;*/
    /*!* Safari 4.0 - 8.0 *!*/
    /*-webkit-animation-duration: 1.5s;*/
    /*!* Safari 4.0 - 8.0 *!*/
    /*animation-name: shadow-show;*/
    /*animation-duration: 1.5s;*/
    /*transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);*/
    /*!* custom *!*/
}
.card h1, .card h2, .card h3, .card h4, .card h5 {
    margin: 0px;
    padding: 0px 0px 15px 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #282828;
}
.card hr {
    display: block;
    border: none;
    height: 3px;
    background-color: #1D4354;
    margin: 0px;
    -webkit-animation-name: line-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.3s;
    /* Safari 4.0 - 8.0 */
    animation-name: line-show;
    animation-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
    /* custom */
}
.card p {
    margin: 15px 0px 0px 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 1.25;
    font-size: 16px;
    word-break: break-all;
    word-wrap: pre-wrap;
    color: #282828;
    -webkit-animation-name: p-show;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s;
    /* Safari 4.0 - 8.0 */
    animation-name: p-show;
    animation-duration: 1.5s;
}
/*.card button {*/
/*border: none;*/
/*background-color: #47b2e4;*/
/*width: 50%;*/
/*margin: 10px auto;*/
/*padding: 10px 30px;*/
/*color: white;*/
/*font-family: "Noto Sans KR", sans-serif;*/
/*text-transform: uppercase;*/
/*}*/

/* Safari 4.0 - 8.0 */
@-webkit-keyframes line-show {
    from {
        margin: 0px 100px;
    }
    to {
        margin: 0px;
    }
}
/* Standard syntax */
@keyframes line-show {
    from {
        margin: 0px 100px;
    }
    to {
        margin: 0px;
    }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes p-show {
    from {
        color: white;
    }
    to {
        color: #282828;
    }
}
/* Standard syntax */
@keyframes p-show {
    from {
        color: white;
    }
    to {
        color: #282828;
    }
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes shadow-show {
    from {
        box-shadow: 0px 0px 0px 0px #e0e0e0;
    }
    to {
        box-shadow: -20px -20px 0px 0px #1D4354;
    }
}
/* Standard syntax */
@keyframes shadow-show {
    from {
        box-shadow: 0px 0px 0px 0px #e0e0e0;
    }
    to {
        box-shadow: -20px -20px 0px 0px #1D4354;
    }
}

#pending{
    background-image: url("/status/pending.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
}





.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 20px;
}


.fa-google {
    background: #dd4b39;
    color: white;
    font-size: 20px;
}
.hr {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.hr span {
    background:#fff;
    padding:0 10px;
}
.pos{
    position: relative;
    top: 40%;
}
.img {
    border-radius: 25%;
    width: 35px;
}
.x {
    position: absolute;
    background: red;
    color: white;
    top: -10px;
    right: -10px;
}
.image-container {
    width: 70%;
    /*border-radius: 25px;*/
    border: 1px solid #1D4354;
    padding: 5px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
    /*background: #A4D3EE;*/
    overflow: visible;
    box-shadow: 5px 5px 2px #888888;
    position: relative;
}
.img-upload{
    width:100%;
    height:100%;
    object-fit:cover;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.carousel-item{
    max-height: 500px;
}
.d-block{
    object-fit: cover;

}





.google-btn {
    width: 100%;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}
.google-btn .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
.google-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
    background: #1669F2;
}

.region{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    /* needed for Firefox: */
    overflow:hidden;
}






















/** {*/
    /*box-sizing: border-box;*/
/*}*/

form.example input[type=text] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    /*background: #f1f1f1;*/
}

form.example button {
    float: left;
    width: 20%;
    padding: 8px;
    background: #FFC107;
    /*color: white;*/
    font-size: 14px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #3670FF;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}
@media only screen and (max-width: 991px) {
    .example{
        visibility: hidden;
    }
}

.justify-content-center{
    display: flex;
    justify-content: center;
}

