
nav > .nav.nav-tabs{

    border: none;
    color:#1D4354;
    background:#1D4354;
    border-radius:0;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background:#1D4354;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #FFA010 ;
}
.tab-content{
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top:5px solid #FFA010;
    border-bottom:5px solid #FFA010;
    padding:30px 5px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
    border: none;
    background: #FFA010;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}


#PENDING{
    background-image: url("/status/pending.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}
#PAID{
    background-image: url("/status/paid.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}
#MPESA{
    background-image: url("/status/mpesa2.png");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}
#CARD{
    background-image: url("/status/card.jpg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}
