<template>
   <div>
       <!--!&#45;&#45; ======= Hero Section ======= &ndash;&gt;-->
       <section id="hero" class="d-flex align-items-center mt-5">

           <div class="container">
               <div class="row">
                   <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center ">
                       <h1 class="mb-2  intro-text" data-aos="fade-up"><span class="text-success"><span class="text-primary">L</span>ocate, B</span>uy & <span class="text-primary">S</span>ell for <span class="text-success">F</span>ree</h1>
                       <h6 class="mb-2 " data-aos="fade-up" data-aos-delay="400">Marketlinkus is your  Marketplace to
                          Locate, Buy & Sell online everything that you need for free. </h6>
                       <h6 class="mb-2">It's hassle free. Saves you time and money. Start now!</h6>
                       <hr>
                       <div class="d-flex" data-aos="fade-up mt-2" data-aos-delay="600">
                           <router-link to="/hotels" href="#" class="  btn-get-started" > EXPLORE HOTELS <i class=""></i></router-link>
                           <a href="https://hotel.marketlinkus.com/register" target="_blank"  class="btn btn-success ml-3">LIST YOUR HOTEL</a>
                           <!--<router-link :to="{name:'postadd'}" href="#" class=" btn-watch-video text-success" data-vbtype="video" data-autoplay="true"> Post Ad <i class="icofont-sign-in"></i></router-link>-->

                       </div>
                   </div>

                   <div class="col-lg-6 order-2 order-lg-2 hero-img justify-content-center mt-5" data-aos="zoom-out" data-aos-delay="200">
                       <div class="d-flex justify-content-center">
                       <img src="/images/slider/screenshot_1.png" class="img-fluid animated" alt="" style="width: 40%;">
                       <img src="/images/slider/screenshot_5.png" class="img-fluid animated" alt="" style="width: 40%;">
                       </div>
                   </div>
               </div>
           </div>
       </section><!-- End Hero -->


       <Trending></Trending>
       <Hotels></Hotels>


       <section id="about" class="about">
           <div class="container">
               <div class="row mb-3">
                   <div class="col-sm-12">
                       <input class="form-control" placeholder="Search category" v-model="message.filterval" v-on:keyup="filter()">
                   </div>
               </div>
               <div class="row">
                   <div class="col-sm-3 mb-3" v-for="data in cats">
                       <div class="icon-box category " v-on:click="routePage(data.id)">
                           <img :src="proxyUrl+'/storage/backgrounds/'+data.picture" class="img-top">
                           <div class="card-body ">
                               <h4  ><a href="#">{{data.name}}</a></h4>
                               <p>{{data.description}}</p>
                               <a href="#" ><i class="fa fa-shopping-cart text-success"></i> <i>{{data.ads}} ads</i></a>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-sm-12">
                       <Adsense
                           data-ad-client="ca-pub-2885740322818519"
                           data-ad-slot="1475707279">
                       </Adsense>
                   </div>

               </div>
           </div>
       </section><!-- End About Section -->
   </div>
</template>
<script>
    import  Trending from '../adds/trending'
    import  Hotels from '../hotel/trending'
    export default {
        name: 'App',
        components: {
            Trending,
            Hotels
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                image: '',
                cats:[],
                cats2:[],

            }
        },
        created() {
            setTimeout(() => {
                this.getData();
            }, 1000);
        },
        methods: {
            routePage(id){
                this.$router.push({name: 'feeds',params:{id:id}});
            },
            getData() {
                let uri =this.proxyUrl+`api/auth/category`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.cats=response.data.cats;
                    this.cats2=response.data.cats;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.cats=this.cats2;
                }else{
                    let ads =  this.cats2.filter(function(product) {
                        return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.description.toLowerCase().includes(filterval.toLowerCase())
                    });
                    this.cats=ads;
                }
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
