<template>
    <div class="mb-5">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <form class="php-email-form" method="post" v-on:submit.prevent="login()">
            <div class="row justify-content-center mt-5">
                <div class="col-sm-8">
                    <div class="container center mb-5 mr-0">
                        <div class="card">
                            <div class="row">
                                <div class="col-sm-6 login">
                                    <div class="pos container">
                                        <!--<h6 class="text-center">Sign in to Continue</h6>-->
                                        <!--<p class="text-center">It's hassle free. Saves you time and money. Start now!</p>-->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                            <h6>Sign In</h6>
                            <hr/>
                            <div class="container mt-3">
                                <!--<div class="text-center">-->
                                    <!--<i class="fa fa-lock fa-2x"></i>-->
                                <!--</div>-->
                                <div class="form-group mb-3">
                                    <label>Email<span class="required text-danger">*</span></label>
                                    <input type="email" class="form-control" v-model="message.email" required>
                                </div>

                                <div class="form-group mb-3">
                                    <label>Password<span class="required text-danger">*</span></label>
                                    <input type="password" class="form-control" v-model="message.password"  required>
                                </div>
                                <div class="row mb-3 mt-3">
                                        <div class="col-sm-2">
                                            <input type="checkbox" v-model="message.remember_me" class="checkbox"   value="1" name="agree" >
                                        </div>
                                        <div class="col-sm-10">
                                            <label> <a class="agree" href="#">Keep me signed in</a> </label>
                                        </div>
                                </div>

                                <div class="form-group mb-3">
                                    <button class="btn btn-warning btn-block btn-lg" type="submit"  >Sign in</button>
                                </div>
                                <div class="row mt-5">
                                    <router-link class="mr-5" :to="{name:'forget'}" href="#">Forgot password?</router-link>
                                    <router-link  :to="{name:'register'}" href="#">Register</router-link>
                                </div>
                                <h6 class="hr"><span>or</span></h6>
                                <p>Sign in with google, use the button below</p>
                                <div class="row mt-5">
                                    <div class="col-sm-12 mb-1">
                                        <div class="google-btn" @click.prevent="loginWithGoogle">
                                            <div class="google-icon-wrapper">
                                                <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                                            </div>
                                            <p class="btn-text"><b>Sign in with google</b></p>
                                        </div>
                                        <!--<a @click.prevent="loginWithGoogle" href="#" class="btn  fa fa-google btn-block">oogle</a>-->
                                    </div>
                                </div>

                            </div>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                wallet:'',
            }
        },
        created() {

        },
        methods: {
            loginWithGoogle () {
                this.$gAuth.signIn().then(GoogleUser => {
                         console.log(GoogleUser.getBasicProfile());
                        this.message.name=GoogleUser.getBasicProfile().getName();
                        this.message.email=GoogleUser.getBasicProfile().getEmail();
                        this.message.pic=GoogleUser.getBasicProfile().getImageUrl();
                        this.attemptLogin();
                    })
                    .catch(error => {
                        console.log(error);
                        this.$toast.open({message: 'Unable to login via g-mail!', type: 'error', position: 'top'});
                    })
            },
            attemptLogin(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/attemptLogin`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.user_type === 'user') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('pic', response.data.user.pic);
                                localStorage.setItem('phone', response.data.user.phone);
                                localStorage.setItem('auth', 'yes');
                                this.$toast.open({message: 'You are now logged in', type: 'success', position: 'top'});
                                this.$router.push({name: 'index'});
                                this.$router.go();
                            } else {
                                this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                            }
                        }else{
                            this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
            login() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/login`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.user_type === 'user') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('pic', response.data.user.pic);
                                localStorage.setItem('phone', response.data.user.phone);
                                localStorage.setItem('auth', 'yes');
                                this.$toast.open({message: 'You are now logged in', type: 'success', position: 'top'});
                                this.$router.push({name: 'index'});
                                this.$router.go();
                            } else {
                                this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                            }
                        }else{
                            this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },

        }
    }
</script>
