<template>
    <div class="mb-5">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <form class="php-email-form" method="post" v-on:submit.prevent="updateProfile()">
            <div class="row justify-content-center mt-5">
                <div class="col-sm-8">
                    <div class="container center mb-5 mr-0">
                        <div class="card">
                            <div class="row">
                                <div class="col-sm-6 login2">
                                    <div class="pos container">
                                        <!--<h6 class="text-center">Sign in to Continue</h6>-->
                                        <!--<p class="text-center">It's hassle free. Saves you time and money. Start now!</p>-->
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h6>Profile</h6>
                                    <hr/>
                                    <div class="container mt-3">
                                        <!--<div class="text-center">-->

                                        <!--</div>-->
                                        <div class="form-group mb-3">
                                            <label>Name<span class="required text-danger">*</span></label>
                                            <input type="text" class="form-control" v-model="message.name" required>
                                        </div>

                                        <div class="form-group mb-3">
                                            <label>Email<span class="required text-danger">*</span></label>
                                            <input type="email" class="form-control" v-model="message.email" required disabled>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label>Phone<span class="required text-danger">*</span></label>
                                            <vue-tel-input v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                                        </div>

                                        <div class="form-group mb-3 mt-5">
                                            <button class="btn btn-warning btn-block btn-lg" type="submit"  >Update profile</button>
                                        </div>
                                        <hr>

                                        <a v-on:click="logout()" class="btn btn-outline-primary btn-block mt-3">Sign out <i class="fa fa-arrow-right"></i></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
            }
        },
        created() {
            setTimeout(() => {
                this.getProfile();
            }, 1000);
        },
        methods: {
            getProfile() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getProfile`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.message=response.data.user;
                    localStorage.setItem('phone', response.data.user.phone);
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });

            },
            updateProfile() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');

                let uri =this.proxyUrl+`api/auth/updateProfile`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.getProfile();
                        setTimeout(() => {
                            this.$router.push({name: 'index'});
                        }, 4000);

                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });

            },
            logout() {
                localStorage.removeItem('token');
                localStorage.removeItem('auth');
                localStorage.removeItem('phone');
                this.$router.push({name: 'login'});
                this.$toast.open({message: 'You have signed out', type: 'success', position: 'top'});
            },

        }
    }
</script>
