<template>
    <div>
        <br>
        <br>
        <div class="container">
            <section class="breadcrumbs">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <ol>
                            <li><router-link :to="{name:'feeds',params:{id:cat.id}}">Back</router-link></li>
                            <li><a href="/">Ads category</a></li>
                        </ol>
                    </div>

                </div>
            </section><!-- End Breadcrumbs -->
        <div class="row">
            <div class="col-sm-8">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" v-if="pics.length>0">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li v-for="(data,index) in pics" data-target="#carouselExampleIndicators" :data-slide-to="index+1"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                           <a class="example-image-link" :href="proxyUrl+'/storage/Ads/'+f_image.url" data-lightbox="example-set" :data-title="ads.title"> <img class="d-block w-100 example-image"  :src="proxyUrl+'/storage/Ads/'+f_image.url" data-color="lightblue" alt="Unavailable"></a>
                        </div>
                        <div class="carousel-item" v-for="post in pics">
                           <a class="example-image-link" :href="proxyUrl+'/storage/Ads/'+post.url" data-lightbox="example-set" :data-title="ads.title"> <img class="d-block w-100 example-image"  :src="proxyUrl+'/storage/Ads/'+post.url" data-color="lightblue" alt="Unavailable"></a>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="card mb-3 mt-3 c4">
                    <div class="card-title text-center"><i style="font-size:20px;font-weight:600;">{{ads.title}}</i></div>
                    <!--<hr>-->
                    <div class="card-body">
                        <div class="container">
                                    <div class="float-left">
                                        <i class="fa fa-map text-secondary" style="font-weight: 50;font-size:11px;"> {{ads.region}}</i>
                                    </div>
                                    <div class="float-right">
                                        <i class="fa fa-map-marker text-secondary" style="font-weight: 50;font-size:11px;"> {{ads.location}}</i>
                                    </div>
                        </div>
                        <br>
                        <br>
                        <div class="container">
                            <a v-if="ads.price===0 || ads.price==='0'" class="btn btn-outline-success btn-block btn-lg">Contact for pricing</a>
                            <a v-else class="btn btn-outline-success btn-block btn-lg">Ksh .{{formatPrice(ads.price)}}</a>
                            <p v-html="ads.description"></p>
                            <h6 class="mt-3 tex-center">Website:<a href="#">{{ads.website}}</a></h6>
                        </div>
                        <br>
                        <div class="text-center">
                        Share on <share-it :icons="true" :targets="['whatsapp','twitter', 'facebook']" :text="'Its hassle free. Saves you time and money. Locate '+ads.title+' Here'" :url="'https://marketlinkus.com/feeds/detailed/'+message.uuid"  />
                        </div>
                        </div>

                    <div class="card-footer">
                        <i class="fa fa-eye text-secondary"></i> {{ (+views)+(+days)}} views
                        <div class="alert alert-success float-right" role="alert" v-if="ads.promoted==='YES'">
                           Promoted
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-sm-4">

                <div class="card mb-3">
                    <div class="card-title">
                        <i class="fa fa-eye text-secondary"></i> {{ (+views)+(+days)}} views
                        <p class="float-right">{{ads.year}}</p>
                    </div>
                    <hr>
                    <div class="card-body">
                        <div class="container">
                            <div class="float-left">
                                <i class="fa fa-venus text-secondary" style="font-weight: 50;font-size:11px;"> {{ads.condition}}</i>
                            </div>
                            <div class="float-right">
                                <i class="fa  fa-dashboard" style="font-weight: 50;font-size:11px;"> {{ads.mileage}}</i>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div>
                           <div class="d-flex">
                               <h6 class="mb-3 text-center" v-if="owner!=='' && owner!==null">{{owner.name}}</h6>
                              <a class="text-success ml-2"><i class="fa fa-check-circle-o mr-2"></i>Verified</a>
                           </div>
                            <button v-if="showcontact==='false'" class="btn btn-warning btn-block btn-lg" v-on:click="showContact()">SHOW CONTACT</button>
                            <a v-else :href="'tel:'+ads.phone1" class="btn btn-warning btn-block btn-lg">{{ads.phone1}}</a>
                        </div>
                        <br>
                        <div class="text-center">
                            Share on <share-it :icons="true" :targets="['whatsapp','twitter', 'facebook']" :text="'Its hassle free. Saves you time and money. Locate '+ads.title+' Here'" :url="'https://marketlinkus.com/feeds/detailed/'+message.uuid"  />
                        </div>
                        <br>
                        <div class="text-center">
                            <a href="#" data-toggle="modal" data-target="#comment" class="text-success ml-2"><i class="fa fa-comment-o mr-2"></i>Leave comment</a>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-title">Safety Tips</div>
                    <div class="card-body">
                        <li>Do not pay in advance even for the delivery </li>
                        <li>Try to meet at a safe, public location </li>
                        <li>Check the item BEFORE you buy it</li>
                        <li>Pay only after collecting the item </li>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 " >
                            <Adsense
                                data-ad-client="ca-pub-2885740322818519"
                                data-ad-slot="1475707279">
                            </Adsense>
                        </div>

                    </div>
                </div>

            </div>
        </div>
            <div class="row justify-content-center">
                <div class="col-sm-6">
                    <h6 class="text-center">Similar Ads</h6>
                </div>

            </div>
            <div class="row ">
                <div class="col-sm-3" v-for="data in similar">
                    <div class="icon-box category mb-3"  v-on:click="showdetailed(data.uuid)">
                        <img src="/status/buy_sell.jpg" v-if="data.url==='' || data.url===null" class="img-top">
                        <img :src="proxyUrl+'/storage/Ads/'+data.url" v-else class="img-top">
                        <div class="card-body">
                            <h4 ><a href="#">{{data.title}}</a></h4>
                            <p style="color: #5f687b"><i class="fa fa-user-o"></i> Price, <i class="fa fa-comments-o"></i>Ksh. {{formatPrice(data.price)}}</p>
                            <p style="color: #5f687b"><i class="fa fa-map-marker text-success"></i> <i>{{data.location}}</i></p>
<!--                            <p style="font-size:9px;"><i class="fa fa-clock-o"></i> <timeago :datetime="data.created_at" :auto-update="60"></timeago></p>-->

                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="row">
            <div class="col-sm-12">
                <Adsense
                    data-ad-client="ca-pub-2885740322818519"
                    data-ad-slot="1475707279">
                </Adsense>
            </div>

        </div>


        <!-- Modal -->
        <div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Comment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Comment</label>
                            <textarea class="form-control" v-model="comment.comment" id="exampleFormControlTextarea1" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="postComment()">Submit comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                comment:{},
                message:{},
                message2:{},
                ads:{},
                similar:[],
                pics:[],
                f_image:{},
                owner:{},
                showcontact:'false',
                views:'0',
                days:'0',
                cat:{}

            }
        },
        created() {
            this.message.uuid=this.$route.params.id;
            setTimeout(() => {
                this.getData();
                this.getIpAddress();
            }, 1000);
        },
        methods: {
            showdetailed(id){
                this.$router.push({name: 'detailed',params:{id:id}});
                this.$router.go();
            },
            getIpAddress(){
                fetch('https://api.ipify.org?format=json')
                    .then(x => x.json())
                    .then(({ ip }) => {
                        this.message2.ip_address = ip;
                    });
            },
            showContact(){
               this.showcontact='true'
            },
            getData() {
                $('.c4').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getAdsByuuid`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.c4').loader('hide');
                    this.pics=response.data.pics;
                    this.f_image=response.data.pics[0];
                    this.ads=response.data.ads;
                    this.owner=response.data.owner;
                    this.views=response.data.views;
                    this.days=response.data.days;
                    this.message2.ads_id=this.ads.id
                    this.saveViewer();
                    this.similar=response.data.similar;
                    this.cat=response.data.cat;
                }).catch(error => {
                    $('.c4').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            postComment(){
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                this.comment.ads_id=this.ads.id;
                let uri =this.proxyUrl+`api/auth/postComment`;
                this.axios.post(uri,this.comment,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                    this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                    this.comment={};
                }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        $("#reserve").modal("hide");
                        this.$router.push({name: 'booking_view',params:{id:response.data.booking_id}});
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                });
            },
            saveViewer() {
                let uri =this.proxyUrl+`api/auth/saveViewer`;
                this.axios.post(uri,this.message2,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {

                }).catch(error => {

                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
