<template>
    <div>
        <br/>
        <br/>
        <br/>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="container mt-5 mb-5">

                        <div class="row">
                            <div class="col-sm-12 ">
                                <nav>
                                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Edit</a>
                                    </div>
                                </nav>
                                <div class="tab-content " id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="container">

                                            <div class="row justify-content-center">
                                                <div class="col-sm-6">
                                                    <div class="form-group ">
                                                        <label for="">Country</label>
                                                        <country-select v-model="message.country" :country="message.country" topCountry="KE"   class="form-control form-control-lg"></country-select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="">Region</label>
                                                        <region-select v-model="message.region" :country="message.country" :region="message.region"  :regionName=true defaultRegion="KE" class="form-control form-control-lg"></region-select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-sm-6">
                                                    <div class="form-group ">
                                                        <label for="">Condition</label>
                                                        <input class="form-control form-control-lg" v-model="message.condition" placeholder="Brand new or Local used or Foreign used">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group ">
                                                        <label for="">Brand</label>
                                                        <input class="form-control form-control-lg" v-model="message.brand" placeholder="Brand">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-sm-6">
                                                    <div class="form-group ">
                                                        <label for="">Model</label>
                                                        <input class="form-control form-control-lg" v-model="message.model" placeholder="Model">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <!--<div class="form-group ">-->
                                                    <!--<label for="">Brand</label>-->
                                                    <!--<input class="form-control form-control-lg" v-model="message.brand" placeholder="Brand">-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-sm-6">
                                                    <div class="form-group ">
                                                        <label for="">Condition/State</label>
                                                        <input class="form-control form-control-lg" v-model="message.condition" placeholder="Type condition">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">

                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-sm-6">
                                                    <div class="d-flex">
                                                        <input type="checkbox" id="vehicle" class="checkbox mr-3" @click="checked()">
                                                        <label> My ad is automotive(e.g vehicles)</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input class="form-control form-control-lg" v-model="message.makes" placeholder="Make" v-if="message.automotive==='yes'">
                                                </div>
                                            </div>
                                            <div class="row justify-content-center mt-3">
                                                <div class="col-sm-6">
                                                    <div class="form-group ">
                                                        <input class="form-control form-control-lg" v-model="message.model" placeholder="Model" v-if="message.automotive==='yes'">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group ">
                                                        <input class="form-control form-control-lg" v-model="message.year" placeholder="Year of manufacture" v-if="message.automotive==='yes'">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center mt-3">
                                                <div class="col-sm-6">
                                                    <div class="form-group ">
                                                        <input class="form-control form-control-lg" v-model="message.mileage" placeholder="Mileage e.g zero or specify KM" v-if="message.automotive==='yes'">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group ">
                                                        <input class="form-control form-control-lg" v-model="message.gear" placeholder="Gear transmission e.g automatic or manual or hibrid" v-if="message.automotive==='yes'">
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row justify-content-center">
                                                <p class="text-center">Upload photos of your add (Optional)</p>
                                                <div class="col-sm-6">
                                                    <label class="btn btn-warning btn-block">
                                                        <input type="file" id="file" v-on:change="onFileChange" style="display: none;" multiple="multiple" accept="image/*">
                                                        <i class="fa fa-cloud-upload"> Upload photos</i>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="row  mt-5 align-content-center">
                                                    <div class="col-sm-3 image-container" v-for="(post,index) in attachments" :key="post.id">
                                                        <button class="x" v-on:click="removeItem(index)">
                                                            X
                                                        </button>
                                                        <img :src="post.url"  class="img-upload">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container">
                                                <div class="row  mt-5 align-content-center">
                                                    <div class="col-sm-3 image-container" v-for="(post,index) in pics" :key="post.id">
                                                        <button class="x" v-on:click="removeImage(post.id)">
                                                            X
                                                        </button>
                                                        <img :src="proxyUrl+'/storage/Ads/'+post.url"  class="img-upload">
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                            <div class="row justify-content-center">
                                                <div class="col-sm-6">
                                                    <div class="form-group ">
                                                        <label for="c">Title</label>
                                                        <input class="form-control form-control-lg" v-model="message.title" required>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="sc">Location in  <span class="text-success">{{message.region}}</span></label>
                                                        <input class="form-control form-control-lg" v-model="message.location" placeholder="e.g Kayole 2" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-sm-6">
                                                    <div class="form-group ">
                                                        <label for="c">Contact 1</label>
                                                        <vue-tel-input v-model="message.phone1" v-bind="bindProps"></vue-tel-input>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="sc">Contact 2 (Optional) <span class="text-success"></span></label>
                                                        <vue-tel-input v-model="message.phone2" v-bind="bindProps"></vue-tel-input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="sc">Price (Leave as or enter 0 if you wish not to disclose pricing) <i class="text-danger">*</i></label>
                                                        <input type="number" class="form-control form-control-lg" v-model="message.price" value="0">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label for="sc">Website URl (Optional) <span class="text-success"></span></label>
                                                        <input class="form-control form-control-lg" v-model="message.website" placeholder="Your business website if available" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-sm-12">
                                                    <div class="form-group ">
                                                        <label for="c">Description</label>
                                                        <vue-editor v-model="message.description" required></vue-editor>
                                                    </div>
                                                </div>
                                            </div>
                                    <div class="row justify-content-center mt-5 ml-3">
                                        <div class="col-sm-6">
                                            <input type="checkbox" checked class="checkbox mr-4"    value="1" name="agree"  required>
                                            <label> <a  href="/Terms of use.pdf">I agree to the terms of use</a> </label>
                                        </div>
                                    </div>
                                            <div class="container">
                                                <div class="row justify-content-center mt-5 align-content-center">
                                                    <div class="col-sm-6">
                                                        <button  type="submit" class="btn btn-warning btn-block" v-on:click="submitadd()">UPDATE</button>
                                                    </div>
                                                </div>
                                            </div>

                                </div>

                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div id="progress" class="modal fade" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-body">
                        <div v-if="status==='no'">
                        <div class="alert alert-success text-center" role="alert">
                            Your ad has been submitted successfully.We are saving your images
                        </div>
                        <div class="container mt-4">
                            <div class="row justify-content-center">
                                <div class="col-sm-8">
                                    <div class="progress-outer">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-value"><span>{{percent}}</span>%</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <p class="text-center mt-3">Saving images.Please wait..... {{percent}} %</p>

                        </div>
                    </div>
                        <div  v-if="status==='error'">
                            <div class="alert alert-danger text-center" role="alert">
                           An error occurred while uploading images.Check your internet connectivity or try again.
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-8">
                                    <div class="d-flex mt-5">
                                        <button v-on:click="pushPhotos()" class="btn btn-info btn-block fa fa-refresh ">Reupload</button>
                                        <button v-on:click="Cancel()" class="btn btn-secondary btn-block fa fa-windows ml-2 ">Cancel this</button>
                                    </div>

                                    <p class="text-danger mt-5 text-center">{{error_message}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="container" v-if="status==='success'">
                            <div class="alert alert-success text-center" role="alert">
                                Photos uploaded Successfully
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-4">
                                    <i class="fa fa-check-circle" style="font-size:48px;color:green"></i>
                                    <i class="fa fa-check-circle" style="font-size:48px;color:green"></i>
                                    <i class="fa fa-check-circle" style="font-size:48px;color:green"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import { VueEditor } from "vue2-editor";
    export default {
        name: 'App',
        components: {
            VueEditor
        },
        data(){
            return {
                content: "<h1>Some initial content</h1>",
                proxyUrl: process.env.MIX_APP_URL,
                message:{country: '', region: '',},
                message2:{},
                ads:{},
                pics:[],
                cats:[],
                subcats:[],
                ads_id: '',
                attachments:[],
                files:{files:[],ads_id:''},
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: false,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                auth:'',
                percent:0,
                polling: null,
                error_message:'',
                status:'no',
            }
        },
        created(){
            this.message2.ads_id=localStorage.getItem('ads_id');
            this.getData();
            setTimeout(() => {
                this.getAdsById();
            }, 1000);
        },
        methods: {
            checked(){
                if (document.getElementById('vehicle').checked) {
                    this.message.automotive='yes'
                }else{
                    this.message.automotive='no'
                }
            },
            removeItem(id){
                this.attachments.splice(id, 1);
                this.files.files.splice(id, 1);
            },
            onFileChange(e){
                let files = e.target.files;
                if (!files.length) {
                    return false;
                }
                for (let i = 0; i < files.length; i++) {
                    let url = URL.createObjectURL(files[i]);
                    var item =({'url':url});
                    this.attachments.push(item);
                    this.createBase64Image(files[i]);
                }
            },
            createBase64Image(fileObject){
                const reader=new FileReader();
                reader.onload=(e)=>{
                     this.files.files.push(e.target.result);
                };
                reader.readAsDataURL(fileObject);
            },
            pushPhotos(){
                this.error_message='';
                this.status='no';
                $("#progress").modal("show");
                $('.tab-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                // let formData = new FormData();
                // formData.append('ads_id',this.ads_id);
                // for(let i=0; i<this.files.length;i++){
                //     formData.append('files[]',this.files[i]);
                // }
                this.files.ads_id=this.ads_id;
                let uri =this.proxyUrl+`api/auth/pushPhotos`;
                let vm = this;
                this.axios.post(uri,this.files,{
                    headers: {
                        Authorization: 'Bearer '+localStorage.getItem('token')
                    },
                    onUploadProgress: function( progressEvent ) {
                        this.percent = parseInt( ''+Math.round( ( progressEvent.loaded / progressEvent.total ) * 100 ));
                        $('.progress-bar').css('width', this.percent+'%').attr('aria-valuenow', this.percen);
                    }.bind(this)
                }).then((response) => {

                    $('.tab-content').loader('hide');
                    if(response.data.status){
                        this.files.files=[];
                        this.status='success';
                        this.percent=100;
                        this.attachments=[];
                        clearInterval(this.polling);
                        setTimeout(() => {
                            $("#progress").modal("hide");
                            this.$router.push({name: 'index'});
                        }, 4000);

                    }else{
                        clearInterval(this.polling);
                        this.status='error';
                        this.error_message=response.data.message;
                    }
                }).catch(error => {
                    $('.tab-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'You have to sign in first!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        clearInterval(this.polling);
                        this.status='error';
                    }

                });
            },
            removeImage(id){
                $('.tab-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/removeImage/${id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                   if(response.data.status){
                       $('.tab-content').loader('hide');
                       this.getAdsById();
                   }
                }).catch(error => {
                    $('.tab-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getAdsById() {
                $('.tab-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getAdsById`;
                this.axios.post(uri,this.message2,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.tab-content').loader('hide');
                    this.pics=response.data.pics;
                    this.message=response.data.ads;
                    this.subcats=response.data.subcats;
                }).catch(error => {
                    $('.tab-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });

            },
            getData() {
                let uri =this.proxyUrl+`api/auth/category`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.cats=response.data.cats;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'You have to sign in first!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getSubcategory(){
                $('.tab-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getothercat/${this.message.category_id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.tab-content').loader('hide');
                    this.subcats=response.data.cats;
                }).catch(error => {
                    $('.tab-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'You have to sign in first!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            // Increasepercent(){
            //     this.percent=5;
            //     this.polling = setInterval(() => {
            //         if(this.percent===100){
            //             $('.progress-bar').css('width', this.percent+'%').attr('aria-valuenow', this.percen);
            //              clearInterval(this.polling);
            //         }else{
            //             this.percent=+this.percent+5;
            //             $('.progress-bar').css('width', this.percent+'%').attr('aria-valuenow', this.percen);
            //         }
            //
            //     }, 1000)
            // },
            Cancel(){
                $("#progress").modal("hide");
            },

            submitadd(){
                $('.tab-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/updateadd`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.tab-content').loader('hide');
                    if(response.data.status){
                        // this.$toast.open({message: response.data.message, type: 'info', position: 'top'});
                        this.ads_id=response.data.ads_id;
                        this.pushPhotos();
                    }else{
                        // this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.tab-content').loader('hide');
                    if (error.response.status === 401) {
                        this.showLogin();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },

        },
    }

</script>
