<template>
    <div>
        <br/>
        <br/>
        <br/>
        <br/>
     <div class="row  justify-content-center">
        <div class="col-sm-8">
            <div class="container center mb-5 mr-0">
                <div class="card">
                    <div class="card-title">My Adverts</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <td>Title</td>
                                <!--<td>Category</td>-->
                                <td>Promoted</td>
                                <td>Expires in</td>
                                <td>Edit</td>
                                <td>Promote</td>
                                </thead>
                                <tbody>
                                <tr v-for="(ad,index) in ads">
                                    <td>{{ad.title}}</td>
                                    <!--<td>{{ad.category}}</td>-->
                                    <td class="text-success" v-if="ad.promoted==='YES'">{{ad.promoted}}</td>
                                    <td class="text-danger" v-else>{{ad.promoted}}</td>
                                    <td v-if="ad.promoted==='YES'" class="text-primary">{{ad.expires_at}}</td>
                                    <td v-else class="text-success">RUNNING...</td>
                                    <td ><a href="#" class="text-primary" v-on:click="Edit(ad.id)">Edit</a></td>
                                    <td ><router-link :to="{name:'view',params:{id:ad.id}}" href="#" class="text-success">Promote now</router-link></td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <Adsense
                                    data-ad-client="ca-pub-2885740322818519"
                                    data-ad-slot="1475707279">
                                </Adsense>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
      </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                image: '',
                ads:[],
            }
        },
        created() {
            setTimeout(() => {
                this.getData();
            }, 1000);
        },
        methods: {
            Edit(id){
                localStorage.setItem('ads_id',id);
                this.$router.push({name: 'edit'});
            },
            getData() {
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/myAdds`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.card').loader('hide');
                    this.ads=response.data.ads;
                }).catch(error => {
                    $('.card').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });

            },

        }
    }
</script>
