<template>
    <div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      <div class="row justify-content-center">
          <div class="col-sm-6">
                      <form v-on:submit.prevent="checkImages()">
                              <nav>
                                  <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Create Ads For Free</a>
                                      <!--<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Step 2: Add Details</a>-->
                                  </div>
                              </nav>
                              <div class="tab-content " id="nav-tabContent">
                                  <div  v-if="page==='first'">
                                      <div class="container">
                                          <div class="row justify-content-center">
                                              <div class="col-sm-6">
                                                  <div class="form-group">
                                                      <label for="c">Category <i class="text-danger">*</i></label>
                                                      <v-select label="name"  @input="getSubcategory()" v-model="message.category_id" :options="cats" :reduce="cats => cats.id"></v-select>
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group">
                                                      <label for="sc">Sub category<i class="text-danger">*</i></label>
                                                      <v-select label="name"  v-model="message.subcategory_id" :options="subcats" :reduce="subcats => subcats.id" multiple ></v-select>

                                                  </div>
                                              </div>
                                          </div>

                                          <div class="row justify-content-center">
                                              <div class="col-sm-6">
                                                  <div class="form-group ">
                                                      <label for="">Country <i class="text-danger">*</i></label>
                                                      <country-select v-model="message.country" :country="message.country" topCountry="KE"   class="form-control form-control-lg"></country-select>
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group">
                                                      <label for="">Region <i class="text-danger">*</i></label>
                                                      <region-select  v-model="message.region" :country="message.country" :region="message.region"  :regionName=true defaultRegion="KE" class="form-control form-control-lg"></region-select>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center">
                                              <div class="col-sm-6">
                                                  <div class="form-group ">
                                                      <label for="">Condition/State</label>
                                                      <input class="form-control form-control-lg" v-model="message.condition" placeholder="Type condition">
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group ">
                                                      <label for="">Brand</label>
                                                      <input class="form-control form-control-lg" v-model="message.brand" placeholder="Brand">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center">
                                              <div class="col-sm-6">
                                                  <div class="form-group ">
                                                      <label for="">Model</label>
                                                      <input class="form-control form-control-lg" v-model="message.model" placeholder="Model">
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <!--<div class="form-group ">-->
                                                      <!--<label for="">Brand</label>-->
                                                      <!--<input class="form-control form-control-lg" v-model="message.brand" placeholder="Brand">-->
                                                  <!--</div>-->
                                              </div>
                                          </div>
                                          <div class="row justify-content-center">
                                              <div class="col-sm-6">
                                                  <div class="d-flex">
                                                          <input type="checkbox" id="vehicle" class="checkbox mr-3" @click="checked()">
                                                          <label> My ad is automotive(e.g vehicles)</label>
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <input class="form-control form-control-lg" v-model="message.makes" placeholder="Make" v-if="message.automotive==='yes'">
                                              </div>
                                          </div>
                                          <div class="row justify-content-center mt-3">
                                          <div class="col-sm-6">
                                              <div class="form-group ">
                                                  <input class="form-control form-control-lg" v-model="message.model" placeholder="Model" v-if="message.automotive==='yes'">
                                              </div>
                                          </div>
                                          <div class="col-sm-6">
                                              <div class="form-group ">
                                                  <input class="form-control form-control-lg" v-model="message.year" placeholder="Year of manufacture" v-if="message.automotive==='yes'">
                                              </div>
                                          </div>
                                      </div>
                                          <div class="row justify-content-center mt-3">
                                              <div class="col-sm-6">
                                                  <div class="form-group ">
                                                      <input class="form-control form-control-lg" v-model="message.mileage" placeholder="Mileage e.g zero or specify KM" v-if="message.automotive==='yes'">
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group ">
                                                      <input class="form-control form-control-lg" v-model="message.gear" placeholder="Gear transmission e.g automatic or manual or hibrid" v-if="message.automotive==='yes'">
                                                  </div>
                                              </div>
                                          </div>
                                          <hr>
                                          <div class="row justify-content-center">
                                              <div class="col-sm-6">
                                                  <label class="btn btn-warning btn-block btn-warning2">
                                                      <input type="file" id="file" v-on:change="onFileChange" style="display: none;" multiple="multiple" accept="image/*">
                                                      <i class="fa fa-cloud-upload"> Upload Ads photos</i>
                                                  </label>
                                              </div>
                                          </div>
                                          <div class="container">
                                              <div class="row  mt-5 align-content-center">
                                                  <div class="col-sm-3 image-container" v-for="(post,index) in attachments" :key="post.id">
                                                      <button class="x" @click="removeItem(index)">
                                                          X
                                                      </button>
                                                      <img :src="post.url"  class="img-upload">
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="container">
                                              <div class="row justify-content-center mt-5">
                                                  <div class="col-sm-6">
                                                      <button v-on:click="changePage('second')"   class="btn btn-success btn-block">Next <i class="fa fa-arrow-right"></i></button>
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>
                                  <div  v-if="page==='second'">
                                      <div class="container">
                                          <div class="row justify-content-center">
                                              <div class="col-sm-6">
                                                  <div class="form-group ">
                                                      <label for="c">Title <i class="text-danger">*</i></label>
                                                      <input class="form-control form-control-lg" v-model="message.title" >
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group">
                                                      <label for="sc">Location in <i class="text-danger">*</i> <span class="text-success">{{message.region}}</span></label>
                                                      <input class="form-control form-control-lg" v-model="message.location" placeholder="e.g Kileleshwa " >
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center">
                                              <div class="col-sm-6">
                                                  <div class="form-group ">
                                                      <label for="c">Contact no 1 <i class="text-danger">*</i></label>
                                                      <vue-tel-input v-model="message.phone1" v-bind="bindProps"></vue-tel-input>
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group">
                                                      <label for="sc">Contact no 2 (Optional) <span class="text-success"></span></label>
                                                      <vue-tel-input v-model="message.phone2" v-bind="bindProps"></vue-tel-input>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center">
                                              <div class="col-sm-6">
                                                  <div class="form-group">
                                                      <label for="sc">Price (Leave as or enter 0 if you wish not to disclose pricing) <i class="text-danger">*</i></label>
                                                      <input type="number" class="form-control form-control-lg" v-model="message.price" value="0">
                                                  </div>
                                              </div>
                                              <div class="col-sm-6">
                                                  <div class="form-group">
                                                      <label for="sc">Website URl (Optional) <span class="text-success"></span></label>
                                                      <input class="form-control form-control-lg" v-model="message.website" placeholder="Your business website if available" >
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center">
                                              <div class="col-sm-12">
                                                  <div class="form-group ">
                                                      <label for="c">Description <i class="text-danger">*</i></label>
                                                      <vue-editor v-model="message.description" ></vue-editor>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center">
                                              <div class="col-sm-6">
                                                  <h5 class="text-center">Do  you want to promote your ad?</h5>
                                                  <p class="text-center">Please, choose one of the following options to post your ad </p>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center">
                                              <div class="col-sm-6 ml-3">
                                                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                      <label class="btn btn-outline-success btn-lg active" v-on:click="changefree('yes')">
                                                          <input type="radio" style="display: none;" value="existing" v-model="message.writer" id="exist"  checked> <span class="fs-16">No,Free Standard</span>
                                                      </label>
                                                      <label class="btn btn-outline-success btn-lg" v-on:click="changefree('no')">
                                                          <input type="radio" style="display: none;" value="new" v-model="message.writer" id="new" > <span class="fs-16">Yes, Promote</span>
                                                      </label>
                                                  </div>
                                                  <div class="mt-3  text-center" v-if="free==='no'">
                                                      <h6>TOP: BEST OFFER</h6>
                                                      <p>You will later select the following:</p>
                                                      <p>Premium <span class="text-primary">Ksh.{{formatPrice(cat.onemonth)}}</span>,
                                                          VIP <span class="text-primary">Ksh.{{formatPrice(cat.threemonth)}}</span> and
                                                          VIP+ <span class="text-primary">Ksh.{{formatPrice(cat.oneyear)}}</span></p>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row justify-content-center mt-5 ml-3">
                                              <div class="col-sm-6">
                                                  <input type="checkbox" class="checkbox mr-4"    value="1" name="agree"  required>
                                                  <label> <a  href="/Terms of use.pdf">I agree to the terms of use</a> </label>
                                              </div>
                                          </div>
                                          <div >
                                              <div class="d-flex mt-5">
                                                  <div class="col-sm-6">
                                                      <button v-on:click="changePage('first')"   class="btn btn-success btn-block"><i class="fa fa-arrow-left"></i>Back </button>
                                                  </div>
                                                  <div class="col-sm-6">
                                                      <button  type="submit" class="btn btn-warning btn-block btn-warning2  ml-2">Submit<i class="fa fa-arrow-right"></i></button>
                                                  </div>
                                                  </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                      </form>
              </div>
          </div>

        <div id="login-modal" class="modal fade">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Sign in</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="#" method="post" v-on:submit.prevent="login()">
                            <div class="form-group">
                                <i class="fa fa-envelope"></i>
                                <input type="email" v-model="message.email" class="form-control" placeholder="Email" required="required">
                            </div>
                            <div class="form-group">
                                <i class="fa fa-lock"></i>
                                <input type="password" v-model="message.password" class="form-control" placeholder="Password" required="required">
                            </div>
                            <div class="row mt-3 mb-3">
                                <a  v-on:click="switchToRegister()" href="#">You don't have an account, Register here</a>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning btn-block btn-warning2">Login</button>
                            </div>
                            <h6 class="hr"><span>or</span></h6>
                            <p>Sign in with google ,use the  button below</p>
                            <div class="row mt-5">
                                <div class="col-sm-12 mb-1">
                                    <div class="google-btn" @click.prevent="loginWithGoogle">
                                        <div class="google-icon-wrapper">
                                            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                                        </div>
                                        <p class="btn-text"><b>Sign in with google</b></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a href="/forget/password">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="register-modal" class="modal fade">
            <div class="modal-dialog modal-login">
                <div class="modal-content modal-content2">
                    <div class="modal-header">
                        <h4 class="modal-title">Register</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="#" method="post" v-on:submit.prevent="register()">
                            <div class="form-group">
                                <i class="fa fa-user"></i>
                                <input type="text" v-model="message.name" class="form-control" placeholder="Name" required="required">
                            </div>
                            <div class="form-group">
                                <i class="fa fa-envelope"></i>
                                <input type="email" v-model="message.email" class="form-control" placeholder="Email" required="required">
                            </div>
                            <div class="form-group">
                                <i class="fa fa-phone"></i>
                                <vue-tel-input v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                            </div>
                            <div class="form-group">
                                <i class="fa fa-lock"></i>
                                <input type="password" v-model="message.password" class="form-control" placeholder="Password" required="required">
                            </div>
                            <div class="form-group">
                                <i class="fa fa-lock"></i>
                                <input type="password" v-model="message.repass" class="form-control" placeholder="Password" required="required">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning btn-block btn-warning2">Register</button>
                            </div>
                            <h6 class="hr"><span>or</span></h6>
                            <p>Sign up with google use the  button below</p>
                            <div class="row mt-5">
                                <div class="col-sm-12 mb-1">
                                    <div class="google-btn" @click.prevent="loginWithGoogle">
                                        <div class="google-icon-wrapper">
                                            <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                                        </div>
                                        <p class="btn-text"><b>Sign in with google</b></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <div id="progress" class="modal fade" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg ">
                <div class="modal-content">
                    <div class="modal-body">
                        <div v-if="status==='no'">
                            <div class="alert alert-success text-center" role="alert">
                                Your ad has been submitted successfully.We are saving your images
                            </div>
                            <div class="container mt-4">
                                <div class="row justify-content-center">
                                    <div class="col-sm-8">
                                        <div class="progress-outer">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                                <div class="progress-value"><span>{{percent}}</span>%</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <p class="text-center mt-3">Saving images.Please wait..... {{percent}} %</p>

                            </div>
                        </div>
                        <div  v-if="status==='error'">
                            <div class="alert alert-danger text-center" role="alert">
                                An error occurred while uploading images.Check your internet connectivity or try again.
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-8">
                                    <div class="d-flex mt-5">
                                        <button v-on:click="pushPhotos()" class="btn btn-info btn-block fa fa-refresh ">Reupload</button>
                                        <button v-on:click="Cancel()" class="btn btn-secondary btn-block fa fa-windows ml-2 ">Cancel this</button>
                                    </div>

                                    <p class="text-danger mt-5 text-center">{{error_message}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="container" v-if="status==='success'">
                            <div class="alert alert-success text-center" role="alert">
                                Photos uploaded Successfully
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-4">
                                    <i class="fa fa-check-circle" style="font-size:48px;color:green"></i>
                                    <i class="fa fa-check-circle" style="font-size:48px;color:green"></i>
                                    <i class="fa fa-check-circle" style="font-size:48px;color:green"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    import { VueEditor } from "vue2-editor";
    export default {
        name: 'App',
        components: {
            VueEditor
        },
        data(){
            return {
                percent:1,
                content: "<h1>Some initial content</h1>",
                proxyUrl: process.env.MIX_APP_URL,
                message:{automotive:'no',country: '', region: '',price:'0'},
                cats:[],
                subcats:[],
                cat:{},
                ads_id: '',
                attachments:[],
                files:{files:[],ads_id:''},
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: false,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                auth:'',
                page:'first',
                free:'yes',
                polling: null,
                error_message:'',
                status:'no',
            }
        },
        created(){
            this.auth=localStorage.getItem('auth');
            this.getData();
            setTimeout(() => {
                if(this.auth!=='yes'){
                    this.showLogin();
                }
            }, 1000);
        },
        methods: {
            changefree(val){
                this.free=val;
            },
            changePage(val){
                this.page=val;
            },
            checked(){
                if (document.getElementById('vehicle').checked) {
                    this.message.automotive='yes'
                }else{
                    this.message.automotive='no'
                }
            },
            switchToRegister(){
                $("#login-modal").modal("hide");
                $("#register-modal").modal("show");
            },
            showLogin(){
                this.$toast.open({message: 'You must sign in to proceed', type: 'warning', position: 'top'});
                $("#login-modal").modal("show");
            },
            removeItem(id){
                this.attachments.splice(id, 1);
                this.files.files.splice(id, 1);
            },
            onFileChange(e){
                let files = e.target.files;
                if (!files.length) {
                    return false;
                }
                for (let i = 0; i < files.length; i++) {
                    let url = URL.createObjectURL(files[i]);
                    var item =({'url':url});
                    this.attachments.push(item);
                    this.createBase64Image(files[i]);
                }
            },
            createBase64Image(fileObject){
                const reader=new FileReader();
                reader.onload=(e)=>{
                    this.files.files.push(e.target.result);
                };
                reader.readAsDataURL(fileObject);
            },
            pushPhotos(){
                this.error_message='';
                this.status='no';
                $("#progress").modal("show");
                $('.tab-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                // let formData = new FormData();
                // formData.append('ads_id',this.ads_id);
                // for(let i=0; i<this.files.length;i++){
                //     formData.append('files[]',this.files[i]);
                // }
                this.files.ads_id=this.ads_id;
                let uri =this.proxyUrl+`api/auth/pushPhotos`;
                this.axios.post(uri,this.files,{
                    headers: {
                        Authorization: 'Bearer '+localStorage.getItem('token')
                    },
                    onUploadProgress: function( progressEvent ) {
                        this.percent = parseInt( ''+Math.round( ( progressEvent.loaded / progressEvent.total ) * 100 ));
                        $('.progress-bar').css('width', this.percent+'%').attr('aria-valuenow', this.percen);
                    }.bind(this)
                }).then((response) => {
                    $('.tab-content').loader('hide');
                    if(response.data.status){
                        this.files.files=[];
                        this.status='success';
                        this.percent=100;
                        this.attachments=[];
                        clearInterval(this.polling);
                        setTimeout(() => {
                            $("#progress").modal("hide");
                            if(this.free==='no'){
                                this.$router.push({name: 'view',params: { id: this.ads_id }})
                            }else{
                                this.routePage(this.message.category_id);
                            }
                        }, 4000);

                    }else{
                        clearInterval(this.polling);
                        this.status='error';
                        this.error_message=response.data.message;
                    }
                }).catch(error => {
                    $('.tab-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'You have to sign in first!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        clearInterval(this.polling);
                        this.status='error';
                    }

                });
            },
            getData() {
                let uri =this.proxyUrl+`api/auth/category`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.cats=response.data.cats;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'You have to sign in first!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getSubcategory(){
                $('.tab-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getothercat/${this.message.category_id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.tab-content').loader('hide');
                    this.subcats=response.data.cats;
                    this.cat=response.data.category;
                }).catch(error => {
                    $('.tab-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'You have to sign in first!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            // Increasepercent(){
            //     this.percent=5;
            //     this.polling = setInterval(() => {
            //         if(this.percent===100){
            //             $('.progress-bar').css('width', this.percent+'%').attr('aria-valuenow', this.percen);
            //             clearInterval(this.polling);
            //         }else{
            //             this.percent=+this.percent+5;
            //             $('.progress-bar').css('width', this.percent+'%').attr('aria-valuenow', this.percen);
            //         }
            //
            //     }, 1000)
            // },
            Cancel(){
                $("#progress").modal("hide");
                this.$router.push({name: 'myads'});
            },

            routePage(id){
                localStorage.setItem('category_id',id);
                this.$router.push({name: 'feeds'});
            },
            checkImages(){
                if(this.files.files.length===0){
                    this.$toast.open({message: 'Please upload at least one image', type: 'error', position: 'top'});
                }else{
                    this.submitadd();
                }
            },
            submitadd(){
                $('.tab-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/submitadd`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.tab-content').loader('hide');
                    if(response.data.status){
                        // this.$toast.open({message: response.data.message, type: 'info', position: 'top'});
                        this.ads_id=response.data.ads_id;
                        this.pushPhotos();
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.tab-content').loader('hide');
                    if (error.response.status === 401) {
                        this.showLogin();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            register() {
                $('.modal-content2').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/signup`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.modal-content2').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.user_type === 'user') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('pic', response.data.user.pic);
                                localStorage.setItem('phone', response.data.user.phone);
                                localStorage.setItem('auth', 'yes');
                                this.$toast.open({message: 'You are now logged in', type: 'success', position: 'top'});
                                $("#register-modal").modal("hide");
                            } else {
                                this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                            }
                        }else{
                            this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.modal-content2').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
            login() {
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/login`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.user_type === 'user') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('pic', response.data.user.pic);
                                localStorage.setItem('auth', 'yes');
                                localStorage.setItem('phone', response.data.user.phone);
                                this.$toast.open({message: 'Success:You are now logged in', type: 'success', position: 'top'});
                                $("#login-modal").modal("hide");
                            } else {
                                this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                            }
                        }else{
                            this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                        this.$toast.open({message: 'If you signed up with google, please use google button. ', type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });
            },
            loginWithGoogle () {
                this.$gAuth.signIn().then(GoogleUser => {
                    console.log(GoogleUser.getBasicProfile());
                    this.message.name=GoogleUser.getBasicProfile().getName();
                    this.message.email=GoogleUser.getBasicProfile().getEmail();
                    this.message.pic=GoogleUser.getBasicProfile().getImageUrl();
                    this.attemptLogin();
                })
                    .catch(error => {
                        this.$toast.open({message: 'Unable to login via g-mail!', type: 'error', position: 'top'});
                    })
            },
            attemptLogin(){
                $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/attemptLogin`;
                this.axios.post(uri, this.message).then((response) => {
                    $('.card').loader('hide');
                    if(response.data.status){
                        if(response.data.user.status==='Active') {
                            if (response.data.user.user_type === 'user') {
                                localStorage.setItem('token', response.data.access_token);
                                localStorage.setItem('name', response.data.user.name);
                                localStorage.setItem('pic', response.data.user.pic);
                                localStorage.setItem('auth', 'yes');
                                localStorage.setItem('phone', response.data.user.phone);
                                this.$toast.open({message: 'You are now logged in', type: 'success', position: 'top'});
                                $("#login-modal").modal("hide");
                                $("#register-modal").modal("hide");
                            } else {
                                this.$toast.open({message: 'Unauthorised access', type: 'error', position: 'top'});
                            }
                        }else{
                            this.$toast.open({message: 'Inactive account, contact support', type: 'error', position: 'top'});
                        }
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.card').loader('hide');
                    localStorage.removeItem('token');
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                });

            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
        },
    }

</script>
