<template>
    <div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row load  justify-content-center">
            <div class="col-sm-3">
                <div class="container" style="position:sticky;top: 0;">
                    <div class="card mb-5 mobile">
                        <div class="card-title">{{cat.name}}  <i class="fa fa-arrow-down text-success"></i> <i class="fa fa-arrow-up text-success"></i></div>
                        <!--<hr>-->
                        <div class="card-body">

                            <div class="d-flex mb-3 ">
                                <div>
                                    <a>Sort by:  </a>
                                </div>
                                <div class="mr-1 ml-2">
                                    <a class=" " href="#" v-on:click="showcatModal()" > Category</a>|
                                </div>
                                <div>
                                    <a class="" href="#" v-on:click="showsubcatModal()"> More</a>
                                </div>
                            </div>

                            <div class="d-flex mt-3 mb-3">
                                <div>
                                    <a>Sort by:  </a>
                                </div>

                                <div class=" ">
                                    <a class="" href="#" v-on:click="showrecommendedModal()"> Recommended</a>
                                </div>
                            </div>

                            <div class="d-flex mt-2">
                                <div>
                                    <a>Sort by:  </a>
                                </div>
                                <div class="ml-2">
                                    <region-select v-model="message.region" :country="message.country" :region="message.region" @input="adsByRegion()"  :regionName=true defaultRegion="KE" class="region "></region-select>
                                </div>
                            </div>
                            <div class="d-flex mb-3 mt-3">
                                <input class="form-control mr-1" v-on:keyup.enter="getAdsBySimpleSearch()" placeholder="Type locality,brand,model" v-model="message.keyword">
                                <button v-on:click="getAdsBySimpleSearch()"  class="btn btn-success btn-m"><i class="fa fa-search"></i></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <h5 v-if="ads.length<=0 && display==='true'" class="text-center">Oops! No posts yet, Please select category.</h5>

                    <div class="col-sm-3 mb-3" v-for="data in ads">
                        <div class="icon-box category-feeds ">
                            <a v-if="data.url==='' || data.url===null" class="example-image-link" href="/status/buy_sell.jpg" data-lightbox="example-set" :data-title="data.title"> <img src="/status/buy_sell.jpg"  class="img-top example-image" alt=""></a>
                            <a v-else class="example-image-link" :href="proxyUrl+'/storage/Ads/'+data.url" data-lightbox="example-set" :data-title="data.title"> <img :src="proxyUrl+'/storage/Ads/'+data.url"  class="img-top example-image" alt=""></a>
                            <div class="card-body">
                                <h4 v-on:click="showdetailed(data.uuid)"><a href="#">{{data.title}}</a></h4>
                                <p v-if="data.price===0 || data.price==='0'" style="color: #5f687b"><i class="fa fa-user-o"></i> Price, <i class="fa fa-comments-o"></i>Contact for price</p>
                                <p v-else style="color: #F68B1E;font-size:15px;"><i class="fa fa-user-o"></i> Price, <i class="fa fa-money mr-2"></i>Ksh. {{formatPrice(data.price)}}</p>
                                <!--<p style="color: #5f687b"><i class="fa fa-map-marker text-success"></i> <i>{{data.location}}</i></p>-->
                                <!--<p style="font-size:9px;"><i class="fa fa-clock-o"></i> <timeago :datetime="data.created_at" :auto-update="60"></timeago></p>-->
                                <!--<a v-on:click="showdetailed(data.uuid)" href="#">View ad</a>-->
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>


        <div id="cat" class="modal fade">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="mb-3">
                            <input class="form-control" placeholder="Search" v-model="message.filterval2" v-on:keyup="filter2()">
                        </div>
                        <ul style="list-style-type: none;">
                            <li class="mb-2" v-for="data in categories" v-on:click="getAdsByCategory(data.id)">
                                <a class="text-secondary" href="#">{{data.name}} | {{data.ads}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="subcat" class="modal fade">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-body">
                        <ul style="list-style-type: none;">
                            <li class="mb-1" v-on:click="getData()">
                                <a  class="text-secondary" href="#">All categories | {{allAds}}</a>
                            </li>
                            <li class="mb-1" v-for="data in subcats" v-on:click="getAdsBySubcat(data.id)">
                                <a class="text-secondary" href="#">{{data.name}} | {{data.ads}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="recommended" class="modal fade">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-body">
                        <ul style="list-style-type: none;">
                            <li class="mb-1" v-on:click="getAdsByNewest()">
                                <a  class="text-secondary" href="#">Newest first</a>
                            </li>
                            <li class="mb-1" v-on:click="getAdsByLowestprice()">
                                <a  class="text-secondary" href="#">Lowest proce first</a>
                            </li>
                            <li class="mb-1" v-on:click="getAdsByHigestprice()">
                                <a  class="text-secondary" href="#">Higest price first</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {

        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{country: '', region: ''},
                image: '',
                ads:[],
                ads2:[],
                cats:[],
                cat:{},
                categories:[],
                categories2:[],
                subcats:[],
                display:'false',
                allAds:'0',
                list: [],
            }
        },
        created() {
            this.message.search=this.$route.params.id;
            setTimeout(() => {
                this.getCategories();
                this.getAdsByrandomSearch();
            }, 1000);
        },
        methods: {
            showcatModal(){
                $("#cat").modal("show");
            },
            showsubcatModal(){
                $("#subcat").modal("show");
            },
            getAdsByCategory(id){
                $("#cat").modal("hide");
                localStorage.setItem('category_id',id);
                this.message.category_id=localStorage.getItem('category_id');
                this.getData();
                this.getSubcategory();
            },
            getCategories() {
                let uri =this.proxyUrl+`api/auth/category`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.categories=response.data.cats;
                    this.categories2=response.data.cats;
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getAdsByrandomSearch(){
                $('.load').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getAdsByrandomSearch`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.load').loader('hide');
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                    this.display='true';
                }).catch(error => {
                    $('.load').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getAdsBySimpleSearch(){
                $('.load').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getAdsBySimpleSearch`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.load').loader('hide');
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                    this.display='true';
                }).catch(error => {
                    $('.load').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            adsByRegion(){
                $('.load').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/adsByRegion`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.load').loader('hide');
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                    this.display='true';
                }).catch(error => {
                    $('.load').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            showdetailed(id){
                this.$router.push({name: 'detailed',params:{id:id}});
            },
            getSubcategory(){
                // $('.load').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getothercat/${this.message.category_id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    // $('.load').loader('hide');
                    this.subcats=response.data.cats;
                    this.cat=response.data.category;
                    this.allAds=response.data.allAds;


                }).catch(error => {
                    // $('.load').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        this.$toast.open({message: 'You have to sign in first!', type: 'error', position: 'top'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            getAdsByHigestprice(){
                $("#recommended").modal("hide");
                $('.load').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getAdsByHigestprice`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.load').loader('hide');
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                    this.display='true';
                }).catch(error => {
                    $('.load').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getAdsByLowestprice(){
                $("#recommended").modal("hide");
                $('.load').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getAdsByLowestprice`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.load').loader('hide');
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                    this.display='true';
                }).catch(error => {
                    $('.load').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getAdsByNewest(){
                $("#recommended").modal("hide");
                $('.load').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getAdsByNewest`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.load').loader('hide');
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                    this.display='true';
                }).catch(error => {
                    $('.load').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getAdsBySubcat(id){
                $("#subcat").modal("hide");
                this.message.subcategory_id=id;
                $('.load').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getAdsBySubcat`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.load').loader('hide');
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                    this.display='true';
                }).catch(error => {
                    $('.load').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            getData() {
                $('.load').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getAdsByCat`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.load').loader('hide');
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                    this.display='true';
                }).catch(error => {
                    $('.load').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.ads=this.ads2;
                }else{
                    let ads =  this.ads2.filter(function(product) {
                        return product.location.toLowerCase().includes(filterval.toLowerCase()) || product.region.toLowerCase().includes(filterval.toLowerCase())
                    });
                    this.ads=ads;
                }
            },
            filter2(){
                let filterval=this.message.filterval2;
                if(filterval==='' || filterval===null){
                    this.categories=this.categories2;
                }else{
                    let ads =  this.categories2.filter(function(product) {
                        return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.description.toLowerCase().includes(filterval.toLowerCase())
                    });
                    this.categories=ads;
                }
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
