<template>
    <div>
        <div class="container">
            <br>
            <h6 class="text-center">We highly focus on security. See the top trending advertis.To post an advert <a href="/add/post">Click here...</a></h6>
                <br>
                <div class="row" id="ads">
                    <!-- Category Card -->
                    <div class="col-md-4" v-for="data in ads">
                        <div class="card rounded">
                            <div class="card-image">
<!--                                <span class="card-notify-badge">Low KMS</span>-->
                                <span class="card-notify-year text-success"><i class="fa fa-check-circle-o"></i></span>
                                <img class="img-fluid" :src="proxyUrl+'/storage/Ads/'+data.url" alt="No image" />
                            </div>
                            <div class="card-image-overlay m-auto">
                                <span class="card-detail-badge">{{data.condition}}</span>
                                <span class="card-detail-badge">Ksh {{formatPrice(data.price)}}</span>
                            </div>
                            <div class="card-body text-center">
                                <div class="ad-title m-auto">
                                    <h6>{{data.title}}</h6>
                                </div>
                                <a class="ad-btn" href="#"  v-on:click="showdetailed(data.uuid)">View</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>




        <div class="container">
            <h3 class="h3">Top Automatives </h3>
            <div class="row">
                <div class="col-md-12">
                    <div id="news-slider" class="owl-carousel">

                        <div class="post-slide border" v-on:click="showdetailed(ads1.uuid)">
                            <div class="post-img">
                                <a href="#">
                                    <a v-if="ads1.url==='' || ads1.url===null"> <img  src=/status/buy_sell.jpg" alt="" class="tending-img"></a>
                                    <a v-else><img  :src="proxyUrl+'/storage/Ads/'+ads1.url" alt="" class="tending-img"></a>
                                    <div class="post-date">
                                        <span class="date">V</span>
                                        <span class="month">IP</span>
                                    </div>
                                </a>
                            </div>
                            <div class="post-review">
                                <h3 class="post-title"><a href="#">{{ads1.title}}</a></h3>
                                <ul class="post-bar">
                                    <li><i class="fa fa-user"></i><a href="#">Ksh.</a></li>
                                    <li><i class="fa fa-comment"></i><a href="#">{{formatPrice(ads1.price)}}</a></li>
                                </ul>
                                <p class="post-description" >It's hassle free. Saves you time and money</p>
                            </div>
                        </div>

                        <div class="post-slide border" v-on:click="showdetailed(ads2.uuid)">
                            <div class="post-img">
                                <a href="#">
                                    <a v-if="ads2.url==='' || ads2.url===null"> <img  src=/status/buy_sell.jpg" alt="" class="tending-img"></a>
                                    <a v-else><img  :src="proxyUrl+'/storage/Ads/'+ads2.url" alt="" class="tending-img"></a>
                                    <div class="post-date">
                                        <span class="date">V</span>
                                        <span class="month">IP</span>
                                    </div>
                                </a>
                            </div>
                            <div class="post-review">
                                <h3 class="post-title"><a href="#">{{ads2.title}}</a></h3>
                                <ul class="post-bar">
                                    <li><i class="fa fa-user"></i><a href="#">Ksh.</a></li>
                                    <li><i class="fa fa-comment"></i><a href="#">{{formatPrice(ads2.price)}}</a></li>
                                </ul>
                                <p class="post-description" >It's hassle free. Saves you time and money</p>
                            </div>
                        </div>
                        <div class="post-slide" v-on:click="showdetailed(ads3.uuid)">
                            <div class="post-img">
                                <a href="#">
                                    <a v-if="ads3.url==='' || ads3.url===null"> <img  src=/status/buy_sell.jpg" alt="" class="tending-img"></a>
                                    <a v-else><img  :src="proxyUrl+'/storage/Ads/'+ads3.url" alt="" class="tending-img"></a>
                                    <div class="post-date">
                                        <span class="date">V</span>
                                        <span class="month">IP</span>
                                    </div>
                                </a>
                            </div>
                            <div class="post-review">
                                <h3 class="post-title"><a href="#">{{ads3.title}}</a></h3>
                                <ul class="post-bar">
                                    <li><i class="fa fa-user"></i><a href="#">Ksh.</a></li>
                                    <li><i class="fa fa-comment"></i><a href="#">{{formatPrice(ads3.price)}}</a></li>
                                </ul>
                                <p class="post-description" >It's hassle free. Saves you time and money</p>

                            </div>
                        </div>

                        <div class="post-slide border" v-on:click="showdetailed(ads4.uuid)">
                            <div class="post-img">
                                <a href="#">
                                    <a v-if="ads4.url==='' || ads4.url===null"> <img  src=/status/buy_sell.jpg" alt="" class="tending-img"></a>
                                    <a v-else><img  :src="proxyUrl+'/storage/Ads/'+ads4.url" alt="" class="tending-img"></a>
                                    <div class="post-date">
                                        <span class="date">V</span>
                                        <span class="month">IP</span>
                                    </div>
                                </a>
                            </div>
                            <div class="post-review">
                                <h3 class="post-title"><a href="#">{{ads4.title}}</a></h3>
                                <ul class="post-bar">
                                    <li><i class="fa fa-user"></i><a href="#">Ksh.</a></li>
                                    <li><i class="fa fa-comment"></i><a href="#">{{formatPrice(ads4.price)}}</a></li>
                                </ul>
                                <!--<p class="post-description" v-html="ads4.description"></p>-->

                            </div>
                        </div>

                        <div class="post-slide border" v-on:click="showdetailed(ads5.uuid)">
                            <div class="post-img">
                                <a href="#">
                                    <a v-if="ads5.url==='' || ads5.url===null"> <img  src=/status/buy_sell.jpg" alt="" class="tending-img"></a>
                                    <a v-else><img  :src="proxyUrl+'/storage/Ads/'+ads5.url" alt="" class="tending-img"></a>
                                    <div class="post-date">
                                        <span class="date">V</span>
                                        <span class="month">IP</span>
                                    </div>
                                </a>
                            </div>
                            <div class="post-review">
                                <h3 class="post-title"><a href="#">{{ads5.title}}</a></h3>
                                <ul class="post-bar">
                                    <li><i class="fa fa-user"></i><a href="#">Ksh.</a></li>
                                    <li><i class="fa fa-comment"></i><a href="#">{{formatPrice(ads5.price)}}</a></li>
                                </ul>
                                <p class="post-description" >It's hassle free. Saves you time and money</p>

                            </div>
                        </div>
                        <div class="post-slide border" v-on:click="showdetailed(ads6.uuid)">
                            <div class="post-img">
                                <a href="#">
                                    <a v-if="ads6.url==='' || ads6.url===null"> <img  src=/status/buy_sell.jpg" alt="" class="tending-img"></a>
                                    <a v-else><img  :src="proxyUrl+'/storage/Ads/'+ads6.url" alt="" class="tending-img"></a>
                                    <div class="post-date">
                                        <span class="date">V</span>
                                        <span class="month">IP</span>
                                    </div>
                                </a>
                            </div>
                            <div class="post-review">
                                <h4 class="post-title"><a href="#">{{ads6.title}}</a></h4>
                                <ul class="post-bar">
                                    <li><i class="fa fa-user"></i><a href="#">Ksh.</a></li>
                                    <li><i class="fa fa-comment"></i><a href="#">{{formatPrice(ads5.price)}}</a></li>
                                </ul>
                                <p class="post-description" >It's hassle free. Saves you time and money</p>

                            </div>
                        </div>

                        <div class="post-slide border" v-on:click="showdetailed(ads7.uuid)">
                            <div class="post-img">
                                <a href="#">
                                    <a v-if="ads7.url==='' || ads7.url===null"> <img  src=/status/buy_sell.jpg" alt="" class="tending-img"></a>
                                    <a v-else><img  :src="proxyUrl+'/storage/Ads/'+ads7.url" alt="" class="tending-img"></a>
                                    <div class="post-date">
                                        <span class="date">V</span>
                                        <span class="month">IP</span>
                                    </div>
                                </a>
                            </div>
                            <div class="post-review">
                                <h4 class="post-title"><a href="#">{{ads7.title}}</a></h4>
                                <ul class="post-bar">
                                    <li><i class="fa fa-user"></i><a href="#">Ksh.</a></li>
                                    <li><i class="fa fa-comment"></i><a href="#">{{formatPrice(ads7.price)}}</a></li>
                                </ul>
                                <p class="post-description" >It's hassle free. Saves you time and money</p>

                            </div>
                        </div>
                        <div class="post-slide border" v-on:click="showdetailed(ads8.uuid)">
                            <div class="post-img">
                                <a href="#">
                                    <a v-if="ads8.url==='' || ads8.url===null"> <img  src=/status/buy_sell.jpg" alt="" class="tending-img"></a>
                                    <a v-else><img  :src="proxyUrl+'/storage/Ads/'+ads8.url" alt="" class="tending-img"></a>
                                    <div class="post-date">
                                        <span class="date">V</span>
                                        <span class="month">IP</span>
                                    </div>
                                </a>
                            </div>
                            <div class="post-review">
                                <h4 class="post-title"><a href="#">{{ads8.title}}</a></h4>
                                <ul class="post-bar">
                                    <li><i class="fa fa-user"></i><a href="#">Ksh.</a></li>
                                    <li><i class="fa fa-comment"></i><a href="#">{{formatPrice(ads8.price)}}</a></li>
                                </ul>
                                <p class="post-description" >It's hassle free. Saves you time and money</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                image: '',
                cats:[],
                cats2:[],
                ads1:{},
                ads2:{},
                ads3:{},
                ads4:{},
                ads5:{},
                ads6:{},
                ads7:{},
                ads8:{},
                ads:[]

            }
        },
        created() {
            this.getTrendingAds();
        },
        methods: {

            getTrendingAds() {
                let uri =this.proxyUrl+`api/auth/getTrendingAds`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    this.ads=response.data.ads2;
                    this.ads1=response.data.ads[0];
                    this.ads2=response.data.ads[1];
                    this.ads3=response.data.ads[2];
                    this.ads4=response.data.ads[3];
                    this.ads5=response.data.ads[4];
                    this.ads6=response.data.ads[5];
                    this.ads7=response.data.ads[6];
                    this.ads8=response.data.ads[7];
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            showdetailed(id){
                this.$router.push({name: 'detailed',params:{id:id}});
            },

            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
