<template>
    <div>
        <br/>
        <br/>
        <br/>
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <div class="container mt-5 mb-5">
                    <div class="row">
                        <div class="col-sm-12 ">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">PROMOTE YOUR AD</a>
                                </div>
                            </nav>
                            <div class="tab-content " id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    <div class="container ">
                                        <div class="row justify-content-center">
                                            <table class="table">
                                                <tbody>
                                                <tr class="">
                                                    <td>{{ads.title}}</td>
                                                    <td v-if="ads.status==='PENDING'" class="text-danger">{{ads.status}}</td>
                                                    <td v-if="ads.status==='PAID'" class="text-success">RUNNING....</td>
                                                </tr>
                                                <tr class="">
                                                    <td>Promoted</td>
                                                    <td v-if="ads.promoted==='NO'" class="text-danger">{{ads.promoted}}</td>
                                                    <td v-if="ads.promoted==='YES'" class="text-success">Promoted...</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr>


                                        <div class="row justify-content-center">
                                            <div class="col-sm-4 " id="MPESA" v-if="ads.promoted==='NO'">

                                            </div>
                                            <div class="col-sm-4 " :id="ads.status" v-else>

                                            </div>
                                            <div class="col-sm-8">
                                                <p>Please promote your ads and we connect you to millions  interesting clients. </p>

                                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                    <label class="btn btn-outline-info btn-lg active" @click="changeAmount(cat.onemonth,30)">
                                                        <input type="radio" style="display: none;" value="existing" v-model="message.writer" id="exist"  checked> <span class="fs-16">Premium (1 Month)</span>
                                                    </label>
                                                    <label class="btn btn-outline-info btn-lg" @click="changeAmount(cat.threemonth,90)">
                                                        <input type="radio" style="display: none;" value="new" v-model="message.writer" id="new" > <span class="fs-16">VIP (3 Months)</span>
                                                    </label>
                                                    <label class="btn btn-outline-info btn-lg" @click="changeAmount(cat.oneyear,365)">
                                                        <input type="radio" style="display: none;" value="new" v-model="message.writer" id="new1" > <span class="fs-16">VIP+ (3 Months)</span>
                                                    </label>
                                                </div><hr>
                                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                    <label class="btn btn-outline-success btn-lg active" @click="changeMethod('mpesa')">
                                                        <input type="radio" style="display: none;" value="mpesa"  v-model="message.mpesa" id="mpesa"  checked> <span class="fs-16">M-pesa Express</span>
                                                    </label>
                                                    <label class="btn btn-outline-success btn-lg" @click="changeMethod('card')">
                                                        <input type="radio" style="display: none;" value="card"  v-model="message.card" id="card" > <span class="fs-16">Card or Paypal</span>
                                                    </label>
                                                </div><hr>
                                                <div v-if="payment==='mpesa'">
                                                <div class="container mt-5">
                                                    <h3 class="">Ksh. <span class="text-success">{{formatPrice(message.amount)}}</span></h3>
                                                </div>

                                                <div class="container mt-5">
                                                    <div class="form-group mb-3">
                                                        <label>Enter Mpesa Phone number to pay<span class="required text-danger">*</span></label>
                                                        <vue-tel-input v-model="message.phone" v-bind="bindProps"></vue-tel-input>
                                                    </div>
                                                </div>
                                                <div class="container mt-1" v-if="showAlert==='true'">
                                                    <div class="alert alert-info" role="alert">
                                                        <h6 class="alert-heading text-center">Success! Enter M-pesa Pin</h6>
                                                        <p class="text-center">Trying to detect payment. Please just wait.... <i class="fa  fa-2x fa-spinner fa-spin" aria-hidden="true"></i></p>
                                                        <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                                                    </div>
                                                </div>
                                                <div class="container mt-1" v-if="showAlert==='success'">
                                                    <div class="alert alert-success" role="alert">
                                                        <h6 class="alert-heading text-center">{{message.mpesa_ref}} <i class="fa fa-check"></i></h6>
                                                        <p class="text-center">Payment detected successfully.Redirecting shortly...</p>
                                                        <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                                                    </div>
                                                </div>
                                                <div class="container mt-1" v-if="showAlert==='error'">
                                                    <div class="alert alert-danger" role="alert">
                                                        <h6 class="alert-heading text-center">Cancelled <i class="fa fa-check"></i></h6>
                                                        <p class="text-center">User cancelled payment.Redirecting shortly...</p>
                                                        <!--<p>Once you receive M-pesa confirmation, <a href="#">Please click here</a></p>-->
                                                    </div>
                                                </div>
                                                <div class="container mt-5">
                                                    <div class="form-group mb-3">
                                                        <a class="btn btn-warning btn-warning2 btn-block" v-on:click="initiateSTK()">PROMOTE NOW</a>
                                                    </div>
                                                </div>
                                                <h6 class="hr mt-5"><span>or</span></h6>
                                                <!--<div class="container">-->
                                                    <!--<li>Got to Mpesa menu</li>-->
                                                    <!--<li>Lipa na M-pesa</li>-->
                                                    <!--<li>Paybill</li>-->
                                                    <!--<li>Enter paybill no <span class="text-success">456777</span></li>-->
                                                    <!--<li>Enter account no <span class="text-success">{{ads.code}}</span></li>-->
                                                    <!--<li>Enter amount <span class="text-success">{{formatPrice(message.amount)}}</span></li>-->
                                                    <!--<li>Enter M-pesa Pin and send</li>-->
                                                    <!--<li>Wait for M-pesa confirmation and <a href="#" class="text-success" v-on:click="getData()">click here...</a></li>-->
                                                <!--</div>-->
                                                </div>
                                                <div  v-else>
                                                    <div class="container mt-5">
                                                        <h3 class="">$ <span class="text-success">{{formatPrice(message.dollar)}}</span></h3>
                                                    </div>
                                                    <div class="form-group mb-3">
                                                        <a class="btn btn-warning btn-warning2 btn-block" v-on:click="cardPay()">Proceed to payment</a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
    import { VueEditor } from "vue2-editor";
    export default {
        name: 'App',
        components: {
            VueEditor
        },
        data(){
            return {
                content: "<h1>Some initial content</h1>",
                proxyUrl: process.env.MIX_APP_URL,
                bindProps: {
                    mode: "international",
                    disabledFetchingCountry: false,
                    disabled: false,
                    disabledFormatting: false,
                    placeholder: "Enter a phone number",
                    required: true,
                    enabledCountryCode: true,
                    enabledFlags: true,
                    maxLen: 25,
                    wrapperClasses: "",
                    inputClasses: "",
                    dropdownOptions: {
                        disabledDialCode: false
                    },
                    inputOptions: {
                        showDialCode: true
                    }
                },
                message:{amount:'',mpesa_ref:'',days:30,dollar:'0'},
                ads:{},
                cat:{},
                showAlert:'false',
                payment:'mpesa',
            }
        },
        created(){
            setTimeout(() => {
                this.getAdInfo();
            }, 1000);
        },
        methods: {
            cardPay(){
                this.calcTime();
                localStorage.setItem('amount_to_pay',this.message.dollar);
                localStorage.setItem('days',this.message.days);
                this.$router.push({name: 'card',params: { id: this.$route.params.id }});
            },
            changeMethod(value){
               this.payment=value;
               if(this.payment==='card'){
                   this.ads.status='CARD'
               }else{
                   this.ads.status='MPESA'
               }
            },
            changeAmount(amount,days){
                this.message.amount=amount;
                this.message.days=days;
                this.message.dollar=amount/100;
            },
            initiateSTK(){
                this.calcTime();
                $('.tab-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/initiateSTK/${this.$route.params.id}`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.tab-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        this.showAlert='true';
                        this.message.CheckoutRequestID=response.data.CheckoutRequestID;
                        this.message.MerchantRequestID=response.data.MerchantRequestID;
                        this.interval = setInterval(() => this.checkStkPayment(), 5000);
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.tab-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            checkStkPayment(){
                let uri =this.proxyUrl+`api/auth/checkStkPayment`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    if(response.data.status){
                        if(response.data.callback){
                            this.message.mpesa_ref=response.data.mpesa_ref;
                            this.showAlert='success';
                            setTimeout(() => {  this.$router.push({name: 'home'}); }, 4000);
                        }else{
                            this.showAlert='error';
                            setTimeout(() => {
                                location.reload();
                            }, 4000);
                        }

                    }
                }).catch(error => {
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            getAdInfo(){
                $('.tab-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getAdInfo/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.tab-content').loader('hide');
                    this.ads=response.data.ads;
                    this.cat=response.data.cat;
                    this.message.amount=response.data.cat.onemonth
                    this.message.dollar=response.data.cat.onemonth/100
                }).catch(error => {
                    $('.tab-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },
            calcTime() {
                var today = new Date();
                var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date+' '+time;
                this.message.promoted_at=dateTime;
            },

        },
    }

</script>
