<template>
    <div>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row  justify-content-center">
            <div class="col-sm-8">
                <div class="container center mb-5 mr-0">
                    <div class="card">
                        <div class="card-title">My Bookings</div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <td>Code</td>
                                    <td>Hotel</td>
                                    <td>Room</td>
                                    <td>Status</td>
                                    <td></td>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(ad,index) in ads">
                                        <td>{{ad.booking_code}}</td>
                                        <td>{{ad.hotel_name}}</td>
                                        <td>{{ad.room_name}}</td>
                                        <td>{{ad.booking_status}}</td>
                                        <td ><a href="#" class="text-primary" v-on:click="Edit(ad.id)">View</a></td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <Adsense
                                        data-ad-client="ca-pub-2885740322818519"
                                        data-ad-slot="1475707279">
                                    </Adsense>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'App',
    components: {
    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{},
            image: '',
            ads:[],
        }
    },
    created() {
        setTimeout(() => {
            this.getData();
        }, 1000);
    },
    methods: {
        Edit(id){
            this.$router.push({name: 'booking_view',params:{id:id}});
        },
        getData() {
            $('.card').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
            let uri =this.proxyUrl+`api/auth/myBookings`;
            this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                $('.card').loader('hide');
                this.ads=response.data.bookings;
            }).catch(error => {
                $('.card').loader('hide');
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }

            });

        },

    }
}
</script>
