<template>
    <div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row load  justify-content-center">
            <div class="col-sm-3">
                <div class="container" style="position:sticky;top: 0;">
                    <div class="card mb-5 mobile">
                        <div class="card-title"><h5>Hotels  <i class="fa fa-arrow-down text-success"></i> <i class="fa fa-arrow-up text-success"></i></h5></div>
                        <!--<hr>-->
                        <div class="card-body">

                            <div class="d-flex mt-2">
                                <div>
                                    <a>Sort by:  </a>
                                </div>
                                <div class="ml-2">
                                    <region-select v-model="message.region" :country="message.country" :region="message.region" @input="hotelsByRegion()"  :regionName=true defaultRegion="KE" class="region "></region-select>
                                </div>
                            </div>
                            <div class="d-flex mb-3 mt-3">
                                <input class="form-control mr-1" v-on:keyup.enter="getHotelBySimpleSearch()" placeholder="Type location" v-model="message.keyword">
                                <button v-on:click="getHotelBySimpleSearch()"  class="btn btn-warning btn-m"><i class="fa fa-search"></i></button>

                            </div>
                            <br>
                            Share on <share-it :icons="true" :targets="['whatsapp','twitter', 'facebook']" text="Its hassle free. Saves you time and money. Locate Hotels Here" url="https://marketlinkus.com/hotels"  />
                            <a href="https://hotel.marketlinkus.com/register">List your hotel</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <h5 v-if="ads.length<=0 && display==='true'" class="text-center">Oops! No hotels yet, keep checking.</h5>

                    <div class="col-sm-3 mb-3" v-for="data in ads">
                        <div class="icon-box category-feeds ">
                            <a v-if="data.url==='' || data.url===null" class="example-image-link" href="/status/buy_sell.jpg" data-lightbox="example-set" :data-title="data.title"> <img src="/status/buy_sell.jpg"  class="img-top example-image" alt=""></a>
                            <a v-else class="example-image-link" :href="proxyUrl+'/storage/Hotels/'+data.url" data-lightbox="example-set" :data-title="data.title"> <img :src="proxyUrl+'/storage/Hotels/'+data.url"  class="img-top example-image" alt=""></a>
                            <div class="card-body">
                                <h4 v-on:click="showdetailed(data.code)"><a href="#">{{data.hotel_name}}</a></h4>
                                <p  style="color: #F68B1E;font-size:15px;"><i class="fa fa-user-o"></i>  <i class="fa fa-map-marker mr-2"></i> {{data.region}}</p>
                                <!--<a v-on:click="showdetailed(data.uuid)" href="#">View ad</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <Adsense
                    data-ad-client="ca-pub-2885740322818519"
                    data-ad-slot="1475707279">
                </Adsense>
            </div>

        </div>
    </div>
</template>
<script>
    export default {
        name: 'App',
        components: {

        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{country: '', region: ''},
                image: '',
                ads:[],
                ads2:[],
                cats:[],
                cat:{},
                categories:[],
                categories2:[],
                subcats:[],
                display:'false',
                allAds:'0',
                list: [],
            }
        },
        created() {
            setTimeout(() => {
                this.getHotels();
            }, 1000);
        },
        methods: {

            getHotelBySimpleSearch(){
                $('.load').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getHotelBySimpleSearch`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.load').loader('hide');
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                    this.display='true';
                }).catch(error => {
                    $('.load').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            hotelsByRegion(){
                $('.load').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/hotelsByRegion`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.load').loader('hide');
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                    this.display='true';
                }).catch(error => {
                    $('.load').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            showdetailed(id){
                this.$router.push({name: 'rooms',params:{id:id}});
            },

            getHotels() {
                $('.load').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getHotels`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.load').loader('hide');
                    this.ads=response.data.ads;
                    this.ads2=response.data.ads;
                    this.display='true';
                }).catch(error => {
                    $('.load').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }
                });
            },
            filter(){
                let filterval=this.message.filterval;
                if(filterval==='' || filterval===null){
                    this.ads=this.ads2;
                }else{
                    let ads =  this.ads2.filter(function(product) {
                        return product.location.toLowerCase().includes(filterval.toLowerCase()) || product.region.toLowerCase().includes(filterval.toLowerCase())
                    });
                    this.ads=ads;
                }
            },
            filter2(){
                let filterval=this.message.filterval2;
                if(filterval==='' || filterval===null){
                    this.categories=this.categories2;
                }else{
                    let ads =  this.categories2.filter(function(product) {
                        return product.name.toLowerCase().includes(filterval.toLowerCase()) || product.description.toLowerCase().includes(filterval.toLowerCase())
                    });
                    this.categories=ads;
                }
            },
            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
