<template>
    <div>
        <br>
        <br>
        <div class="container">
            <section class="breadcrumbs">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <ol>
                            <!--<li><router-link :to="{name:'feeds'}">Back</router-link></li>-->
                            <li><a href="/hotels">Hotels</a></li>
                        </ol>
                    </div>

                </div>
            </section><!-- End Breadcrumbs -->
            <div class="row">
                <div class="col-sm-8">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" v-if="pics.length>0">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li v-for="(data,index) in pics" data-target="#carouselExampleIndicators" :data-slide-to="index+1"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="example-image-link" :href="proxyUrl+'/storage/Rooms/'+f_image.url" data-lightbox="example-set" :data-title="ads.title"> <img class="d-block w-100 example-image"  :src="proxyUrl+'/storage/Rooms/'+f_image.url" data-color="lightblue" alt="Unavailable"></a>
                            </div>
                            <div class="carousel-item" v-for="post in pics">
                                <a class="example-image-link" :href="proxyUrl+'/storage/Rooms/'+post.url" data-lightbox="example-set" :data-title="ads.title"> <img class="d-block w-100 example-image"  :src="proxyUrl+'/storage/Rooms/'+post.url" data-color="lightblue" alt="Unavailable"></a>
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                    <div class="card mb-3 mt-3 c4">
                        <div class="card-title text-center"><i style="font-size:20px;font-weight:600;">{{hotel.hotel_name}}</i></div>
                        <!--<hr>-->
                        <div class="card-body">
                            <div class="container">
                                <a  class="btn btn-outline-success btn-block btn-lg">Room {{ads.name}}</a>
                                <p v-html="ads.description"></p>
                            </div>
                            <br>
                            <div class="text-center">
                                Share on <share-it :icons="true" :targets="['whatsapp','twitter', 'facebook']" :text="'Its hassle free. Saves you time and money. Locate rooms at '+hotel.hotel_name+' Here'" :url="'https://marketlinkus.com/room/'+$route.params.id"  />
                                <a href="https://hotel.marketlinkus.com/register">List your hotel</a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-sm-4">

                    <div class="card mb-3">
                        <div class="card-title">
                            <i class="fa fa-money text-secondary"></i> Price per night
                            <p class="float-right text-success">Ksh .{{formatPrice(ads.price)}}</p>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="container">
                                <div class="float-left">
                                    <i class="fa fa-venus text-secondary" style="font-weight: 50;font-size:11px;">Rooms  {{ads.rooms}}</i>
                                </div>
                                <div class="float-right">
                                    <i class="fa  fa-bed" style="font-weight: 50;font-size:11px;">Beds  {{ads.beds}}</i>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                            <div>
                                <a class="text-success mt-5 text-center"><i class="fa fa-check-circle-o mr-2 "></i>Verified</a>
                                <br>
                                <br>
                                <button   v-on:click="CheckAuth()" class="btn btn-warning btn-block btn-lg" >RESERVE NOW</button>

                            </div>
                            <br>
                            <div class="text-center">
                                Share on <share-it :icons="true" :targets="['whatsapp','twitter', 'facebook']" :text="'Its hassle free. Saves you time and money. Locate rooms at '+hotel.hotel_name+' Here'" :url="'https://marketlinkus.com/room/'+$route.params.id"  />
                                <a href="https://hotel.marketlinkus.com/register">List your hotel</a>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-title">Safety Tips</div>
                        <div class="card-body">
                            <li>No Payment is made on this platform. </li>
                            <li>Do not pay in advance even for the delivery </li>
                            <li>Try to meet at a safe, public location </li>
                            <li>Check the item BEFORE you buy it</li>
                            <li>Pay only after collecting the item </li>
                            <br>
                            <div class="row">
                                <div class="col-sm-12">
                                    <Adsense
                                        data-ad-client="ca-pub-2885740322818519"
                                        data-ad-slot="1475707279">
                                    </Adsense>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


        <div id="reserve" class="modal fade">
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-body">
                        <form  v-on:submit.prevent="reserve()">
                        <h5>You are about to reserve:</h5>
                        <p class="text-center">Room Number: <span>{{ads.name}}</span></p>
                        <p class="text-center">At Hotel: <span>{{hotel.hotel_name}}</span></p>
                        <hr>
                        <div class="form-group mb-3">
                            <label>Reporting date<span class="required text-danger">*</span></label>
                            <input type="date" class="form-control" v-model="message.date" :min="today" required>
                        </div>
                            <div class="form-group mb-3">
                                <label>Leaving date<span class="required text-danger">*</span></label>
                                <input type="date" class="form-control" v-model="message.todate" :min="today" required>
                            </div>
                        <button type="submit"  class="btn btn-warning btn-block btn-lg" >RESERVE NOW</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <Adsense
                    data-ad-client="ca-pub-2885740322818519"
                    data-ad-slot="1475707279">
                </Adsense>
            </div>

        </div>
    </div>
</template>.
<script>
    export default {
        name: 'App',
        components: {
        },
        data(){
            return {
                proxyUrl: process.env.MIX_APP_URL,
                message:{},
                message2:{},
                ads:{},
                similar:[],
                pics:[],
                f_image:{},
                owner:{},
                showcontact:'false',
                views:'0',
                auth:'',
                hotel:{},
                today:new Date().toJSON().slice(0,10),

            }
        },
        created() {
            this.auth=localStorage.getItem('auth');
            this.message.uuid=this.$route.params.id;
            setTimeout(() => {
                this.getData();
            }, 1000);
        },
        methods: {
            reserve() {
                this.message.hotel_id=this.hotel.id;
                this.message.room_id=this.ads.id;
                $('.modal-content').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/reserve`;
                this.axios.post(uri,this.message,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.modal-content').loader('hide');
                    if(response.data.status){
                        this.$toast.open({message: response.data.message, type: 'success', position: 'top'});
                        $("#reserve").modal("hide");
                        this.$router.push({name: 'booking_view',params:{id:response.data.booking_id}});
                    }else{
                        this.$toast.open({message: response.data.message, type: 'error', position: 'top'});
                    }
                }).catch(error => {
                    $('.modal-content').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },
            showdetailed(id){
                this.$router.push({name: 'detailed',params:{id:id}});
                this.$router.go();
            },
            CheckAuth(){
                if(this.auth!=='yes'){
                    this.$router.push({name: 'login'});
                    this.$toast.open({message: 'You have to sign in first to reserve a room!', type: 'error', position: 'top'});
                }else{
                    $("#reserve").modal("show");
                }
            },
            getData() {
                $('.c4').loader('show','<i class="fa fa-2x fa-spinner fa-spin"></i>');
                let uri =this.proxyUrl+`api/auth/getRoomByuuid/${this.$route.params.id}`;
                this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                    $('.c4').loader('hide');
                    this.pics=response.data.pics;
                    this.f_image=response.data.pics[0];
                    this.ads=response.data.room;
                    this.hotel=response.data.hotel;
                    // this.similar=response.data.similar;
                }).catch(error => {
                    $('.c4').loader('hide');
                    if (error.response.status === 401) {
                        this.$router.push({name: 'login'});
                        clearSession();
                    }else{
                        this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                    }

                });
            },

            formatPrice(value) {
                let val = (value/1).toFixed(2).replace('.', '.')
                return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
            },

        }
    }
</script>
