<template>
    <div class="container">
                    <h3 class="h3">Top Hotels </h3>
        <div class="row load  justify-content-center">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-3 mb-3" v-for="data in ads">
                        <div class="icon-box category-feeds ">
                            <a v-if="data.url==='' || data.url===null" class="example-image-link" href="/status/buy_sell.jpg" data-lightbox="example-set" :data-title="data.title"> <img src="/status/buy_sell.jpg"  class="img-top example-image" alt=""></a>
                            <a v-else class="example-image-link" :href="proxyUrl+'/storage/Hotels/'+data.url" data-lightbox="example-set" :data-title="data.title"> <img :src="proxyUrl+'/storage/Hotels/'+data.url"  class="img-top example-image" alt=""></a>
                            <div class="card-body">
                                <h4 v-on:click="showdetailed(data.code)"><a href="#">{{data.hotel_name}}</a></h4>
                                <p  style="color: #F68B1E;font-size:15px;"><i class="fa fa-user-o"></i>  <i class="fa fa-map-marker mr-2"></i> {{data.region}}</p>
                                <!--<a v-on:click="showdetailed(data.uuid)" href="#">View ad</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
export default {
    name: 'App',
    components: {

    },
    data(){
        return {
            proxyUrl: process.env.MIX_APP_URL,
            message:{country: '', region: ''},
            image: '',
            ads:[],
            ads2:[],
        }
    },
    created() {
        setTimeout(() => {
            this.getHotels();
        }, 1000);
    },
    methods: {

        showdetailed(id){
            this.$router.push({name: 'rooms',params:{id:id}});
        },

        getHotels() {
            let uri =this.proxyUrl+`api/auth/getHotelsTrending`;
            this.axios.get(uri,{ headers: { Authorization: 'Bearer '+localStorage.getItem('token')}}).then((response) => {
                this.ads=response.data.ads;
                this.ads2=response.data.ads;
                this.display='true';
            }).catch(error => {
                if (error.response.status === 401) {
                    this.$router.push({name: 'login'});
                    clearSession();
                }else{
                    this.$toast.open({message: 'Something went wrong!', type: 'error', position: 'top'});
                }
            });
        },

    }
}
</script>
